{% extends "layout.html" %}
{% block content %}
{{ super() }}
<div class="container">
	<div class="well">
		<form method="POST" class="form-horizontal">
			{{ form.hidden_tag() }}
			{{ utils.render_field(form.email) }}
			<form class="form-group">
				<div class="col-lg-offset-4 col-lg-8">
					<input class="btn btn-danger" type="submit" value="Yes, Withdraw" />
					<a class="btn btn-primary" href="{{ url_for('.submission_list') }}">Return to List</a>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}