{% extends "profile_layout.html" %}
{% block profile_content %}
{{ super() }}
<table class="table table-striped">
	{% for submission in current_user.submissions %}
	<tr>
		<td>{{ submission.title }}</td>
		<td>{{ submission.status }}</td>
		<td>
			{% if submission.speakers|length > 1 %}
			<a class="btn btn-warning" href="{{ url_for('.submission_withdraw', w_type='speaker', sub_id=submission.id) }}">
				Withdraw as Speaker
			</a>
			{% endif %}
			<a class="btn btn-danger" href="{{ url_for('.submission_withdraw', w_type='submission', sub_id=submission.id) }}">
				Withdraw Talk
			</a>			
		</td>
	</tr>
	{% endfor %}
	{% endif %}
</table>
{% endblock %}