{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/google.html" as google %}
{% import "utils.html" as utils %}

{% block head %}
{{ super() }}
{{ fixes.ie8() }}
{% endblock head %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('frontend.static', filename='css/bootstrap.min.css') }}" media="screen" />
<link rel="stylesheet" href="{{ url_for('frontend.static', filename='css/bootswatch.min.css') }}" />
<link rel="stylesheet" href="{{ url_for('frontend.static', filename='css/style.css') }}" />
{% endblock styles %}

{% block navbar %}
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('frontend.index') }}">
                <img alt="{{ config.CONFERENCE_NAME }}" 
                     src="{{ url_for('frontend.static', filename='images/brand.png') }}" />
            </a>
        </div>
        <div id="navbar-main" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- News Menu/News Link -->
                <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">News<span class="caret"></span></a>
{#
                    <ul class="dropdown-menu" role="menu">
                        {{ utils.nav_item('news', 'All News') }}
                        {% for category in g.settings['POST_CATEGORIES'] %}
                        {{ utils.nav_item('news', category[1], category_id=category[0]) }}
                        {% endfor %}
                        {% if g.user.is_authenticated() and g.user.author %}
                        <li role="presentation" class="divider"></li>
                        {{ utils.nav_item('news_edit', 'New Article') }}
                        {% endif %}
                    </ul>
#}
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated() %}
{#
                {% if current_user.reviewer %}
                {% if g.reviewround is not None %}
                {{ utils.nav_item('review_list', 'Reviews <span class="badge">%s</span>' % g.revcount) }}
                {% endif %}
                {% endif %}
                {% if g.user.elevated %}
                <ul class="dropdown-menu", role="menu">
                    {% if g.user.admin %}
                    {{ utils.nav_item('discounts_list', 'Discount Codes') }}
                    {{ utils.nav_item('users_list', 'User List') }}
                    {{ utils.nav_item('ticket_type_list', 'Ticket Types') }}
                    {{ utils.nav_item('settings', 'Misc Settings') }}
                    {% endif %}
                    {% if g.user.chair %}
                    {{ utils.nav_item('round_list', 'CFP Rounds') }}
                    {% endif %}
                </ul>
                {% endif %}
#}
 {#               {{ utils.nav_item('user.index', 'Profile', user_id=g.user.id) }} #}
                {{ utils.nav_item('auth.logout', 'Logout') }}
                {% else %}
                {{ utils.nav_item('auth.login', 'Login') }}
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock navbar %}

{% block content %}
{{ utils.flashed_messages() }}
{% endblock content %}