{% import "bootstrap/wtf.html" as wtf %}
{% macro flashed_messages(messages=None, container=True) -%}
{% with messages = messages or get_flashed_messages(with_categories=True) -%}
{% if messages -%} {# don't output anything if there are no messages #}

{% if container -%}
<!-- begin message block -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
{% endif -%}
      {% for cat, msg in messages %}
      <div class="alert alert-{{cat}}" role="alert">
        {{msg|safe}}
      </div>
      {% endfor -%}
{% if container %}
    </div>
  </div>
</div>
<!-- end message block -->
{% endif -%}
{% endif -%}
{% endwith -%}
{% endmacro -%}


{% macro icon(type=None, extra_classes=[]) -%}
<span{{ ({'class': (['glyphicon', 'glyphicon-' + type] + extra_classes)|join(' ')})|xmlattr}}{{kwargs|xmlattr}}></span>
{%- endmacro %}


{% macro form_button(url, content, method='post', class='btn-link') -%}
<form style="display: inline;" action='{{url}}' method='{{method}}'><button class="{{class|safe}}">{{content}}</button></form>
{%- endmacro %}

{% macro nav_item(func, name) -%}
  <li {% if request.path == url_for(func, **kwargs) %}
      class="active"
      {% endif %}>
      <a href="{{ url_for(func, **kwargs) }}">{{ name|safe }}</a>
  </li>
{% endmacro %}

{% macro render_field(field, read_only=False, errors={}) %}
<div class="form-group {% if field.flags.required %}required{% endif %}
                       {% if field.name in errors %}has-error{% endif %}">
    <label class="col-lg-2 control-label" for="{{ field.id }}">
        {{ field.label.text }}{% if field.name in errors %} - <small><strong>{{ errors[field.name][0] }}</strong></small>{% endif %}
    </label>
    <div class="col-lg-offset-4 col-lg-8">
        {{ field(class_='form-control', read_only=read_only) }}
    </div>
</div>
{% endmacro %}

{% macro render_form(form, action=None, form_id=None) %}
<form method="POST" 
    {% if action %}action="{{ action }}"{% endif %}
    {% if form_id %}id="{{ form_id }}"{% endif %}>
    {{ form.hidden_tag() }}
    {% for field in form %}
        {% if field.type not in ['HiddenField', 'CSRFField'] %}
        {{ render_field(field) }}
        {% endif %}
    {% endfor %}
{% endmacro %}

