[Unit]
Description=Concord Web Service
After=mariadb.service
Requires=mariadb.service

[Service]
Type=forking
Environment=PYTHONPATH=/opt/concord/site/
WorkingDirectory=/opt/concord/site
ExecStart=/usr/bin/paster serve \
          --pid-file=/var/run/concord/concord.pid \
          --log-file=/var/log/concord/concord.log \
          --daemon \
          /opt/concord/site/production.ini start
ExecStop=/usr/bin/paster serve /opt/concord/site/production.ini \
          --pid-file=/var/run/concord/concord.pid stop
PIDFile=/var/run/concord/concord.pid

[Install]
WantedBy=multi-user.target