{% extends "layout.html" %}
{% block inner_content %}
<div id="purchase-confirm" class="container">
	<form action="/tickets/charge/{{ purchase.ref_hash }}" method="POST">
		<ul>
			<li>Price : <strong>{{ purchase.price }}</strong></li>
			<li>Ticket Type : <strong>{{ purchase.ticket_type|capitalize }}</strong></li>
			<li>Email : <strong>{{ purchase.email }}</strong></li>
		</ul>
		{% if purchase.price > 0 %}
			<script 
				src="https://checkout.stripe.com/v2/checkout.js" 
				class="stripe-button" 
				data-key="{{ stripe_key }}", 
				data-email="{{ purchase.email }}", 
				data-name="{{ event_name }}", 
				data-description="{{ purchase.ticket_type|capitalize }} Ticket (${{ purchase.price }} USD)">
			</script>
		{% else %}
			<input type="submit" value="Get Ticket" />
		{% endif %}
	</form>
</div>
{% endblock %}