{% extends "layout.html" %}
{% block inner_content %}
<p>
  Please Click the links below to pick up your ticket(s)  If this is your first
  time picking up the tickets, you will be asked a series of questions in order
  to assist us with this conference.  Please feel free to fill out as little or
  as much as you would like.
</p>
<p>
  Thank you
</p>
<p>CircleCityCon Staff</p>
<ul>
{% for ticket in purchase.tickets %}
        <li>
        	<a class="btn" 
        	   href="{% if ticket.redeemed %}/tickets/print/{{ ticket.ticket_hash }}{% else %}/tickets/info/{{ ticket.ticket_hash }}{% endif %}">
        	   		Ticket ({{ ticket.ticket_type }}::{% if ticket.name == None %}{{ ticket.ticket_hash }}{% else %}{{ ticket.name }}{% endif %})
        	</a> 
        	<a class="btn" href="{{ url_for('purchase_training', ticket_id=ticket.ticket_hash) }}">Select Training</a>
        	<br />
          {% if ticket.classes %}
          <ul><strong>Classes Registered for the ticket above</strong>
          {% for seat in ticket.classes %}
            {% if seat.paid %}
            <li>{{ seat.name }}</li>
            {% endif %}
          {% endfor %}
          </ul>
          {% endif %}
        </li>
{% endfor %}
</ul>
{% endblock %}
