{% extends "layout.html" %}
{% block inner_content %}
<div id="purchase-form" class="container">
	<form method="POST">
		{{ form.hidden_tag() }}
		<ul>
			<li>{{ form.name.label }} {{ form.name() }}</li>
			{% if ticket.ticket_type != 'child' %}
			<li>{{ form.company.label }} {{ form.company() }}</li>
			<li>{{ form.phone.label }} {{ form.phone() }}</li>
			<li>{{ form.twitter.label }} {{ form.twitter() }}</li>
			<li>{{ form.linkedin.label }} {{ form.linkedin() }}</li>
			<li>{{ form.facebook.label }} {{ form.facebook() }}</li>
			{% endif %}
			<li>{{ form.shirt.label }} {{ form.shirt()}}</li>
		</ul>
		<h4>Please help us make Circlecitycon a better conference by answering the following questions</h4>
		<ul>
			{% if ticket.ticket_type != 'child' %}
			<li>{{ form.marketing.label }} {{ form.marketing() }}</li><hr />
			<li>{{ form.fri_party.label }} {{ form.fri_party() }}</li><hr />
			<li>{{ form.sat_party.label }} {{ form.sat_party() }}</li><hr />
			<li>{{ form.thu_hfd.label }} {{ form.thu_hfd() }}</li><hr />
			<li>{{ form.fri_hfd.label }} {{ form.fri_hfd() }}</li><hr />
			<li>{{ form.sat_hfd.label }} {{ form.sat_hfd() }}</li><hr />
			{% endif %}
			<li>{{ form.helpus.label }} {{ form.helpus(cols=100, rows=10) }}</li>
			<li>{{ form.submit() }}</li>
		</ul>
	</form>
</div>
{% endblock %}