{% extends "layout.html" %}
{% block inner_content %}
<div id="purchase-confirm" class="container">
	<form action="/tickets/training/charge/{{ purchase.ref_hash }}" method="POST">
		<ul>
			<li>Price : <strong>{{ purchase.price }}</strong></li>
		</ul>
		{# {% if purchase.price > 0 %} #}
			<script 
				src="https://checkout.stripe.com/v2/checkout.js" 
				class="stripe-button" 
				data-key="{{ stripe_key }}", 
				data-email="{{ purchase.ticket.email }}", 
				data-name="{{ event_name }}", 
				data-description="Training Purchase (${{ purchase.price }} USD)">
			</script>
		{# {% else %}
			<input type="submit" value="Get Training" />
		{% endif %} #}
	</form>
</div>
{% endblock %}
