{% extends "layout.html" %}
{% block inner_content %}
<h2>Lockpick Village</h2>
</p>Before we had high tech RFID entry cards, biometric authentication, and security 
	tokens there was the ancient Egyptian wooden pin lock protecting Pharaohs treasures. 
	A couple millennium later, pin locks are still very common today and fun to test your 
	skilz against. Lockpicking villages contain various styles of locks of varying difficultly. 
	The greenest n00b can receive some introductory tutelage and by the end of the day you are 
	finger picking your way past a 5 pin trainer lock in seconds.
</p>
<p>As your confidence builds, you will be tempted to test your new found skilz in a game of locksport. 
	Locksport is a highly competitive activity of being the fastest to defeat physical security for 
	bragging rights and perhaps a prize. Some of the most exciting locksport games to spectate are
	when the competitors are blind folded. Keep training n00b...and that could be you.
</p>

<h2>Ham Radio Exams</h2>
<p>Hak4Kidz is an event lead by ethical hackers and Information Security professionals dedicated 
	to bring the educational and communal benefits of hacking conferences to children and young 
	adults. We plan to accomplish this mission by putting our collective expertise and passion 
	on display for the attendees to interact with us at their will. A combination of workshops 
	and an open area of Activity Labs Stations will enable the attendees to expand and enlighten 
	their technical interests. For innovation to perpetuate, it’s imperative that today’s young 
	users are exposed to the bigger picture of technology fundamentals to help realize their 
	potential.
</p>

<h2>Hak4Kidz</h2>
<p>Hak4Kidz is an event lead by ethical hackers and Information Security professionals dedicated 
	to bring the educational and communal benefits of hacking conferences to children and young 
	adults. We plan to accomplish this mission by putting our collective expertise and passion on 
	display for the attendees to interact with us at their will. A combination of workshops and 
	an open area of Activity Labs Stations will enable the attendees to expand and enlighten their 
	technical interests. For innovation to perpetuate, it’s imperative that today’s young users 
	are exposed to the bigger picture of technology fundamentals to help realize their potential.
</p>

<h2>Hackerspace</h2>
<p><strong>Syllabification:</strong> hack·er·space</p>
<p><strong>Pronunciation:</strong> /ˈhakərˌspās/</p>
<p>A hackerspace (also referred to as a hacklab, makerspace or hackspace) is a community-operated 
	workspace where people with common interests, often in computers, machining, technology,
	science, digital art or electronic art; can meet, socialize and collaborate.
</p>
<p>Ever have that pining deep inside you for days on some idea you have for a project. While it's
	slowly eating away at your soul, you decide to do some research and learn what you don't know. 
	Then the despair of knowing you won't ever get enough time to build that dream hack sets in. 
	The project eventually dies as life's demand take hold of your attention, until the next big 
	idea strikes you. If you join a hackerspace, the chance of that happening is greatly reduced. 
	Why? More than likely the skilz you are in dire need of, someone there may have already mastered. 
	Join your local hackerspace and make some new friends, assuming you are smart enough to bring 
	them cold beer.
</p>
{% endblock %}