{% extends "layout.html" %}
{% block content %}
<div class="container">
	<div class="jumbotron">
		<div class="container">
			<div class="col-md-4">
				<img src="{{ url_for('.static', filename='images/brand-2015.png') }}" width="100%">
			</div>
			<div class="col-md-8">
				<legend>Welcome.txt</legend>
				<p>CircleCityCon is about the community. Our signature offering is the community 
					led training classes offered to all participants. Events and contests are 
					organized by members of the security community, including both CircleCityCon 
					staffers and community partners. Two tracks, incredible entertainment, and 
					technical villages help round out the CircleCityCom experience. Of course, 
					don't forget the chance to meet and talk with your peers about all topics 
					including security, hacking, and the latest superhero movie.
				</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<ul>
				<li><strong>When : </strong> 06-12-2015 - 06-14-2015</li>
				<li><strong>Where : </strong> The Westin Indianapolis</li>
			</ul>
		</div>
		<div class="col-md-8">
			<legend>Recent Updates</legend>
			<ul>
				<li>Some long title with content</li>
				<li>Another long title with content behind it</li>
			</ul>
		</div>
			

</div>
{% endblock content %}