{% extends "layout.html" %}
{% set title = 'News' %}
{% block inner_content %}
{{ super() }}
{% if g.user.is_authenticated() %}
<a class="btn pull-right" href="{{ url_for('news_edit') }}">New Post</a>
{% endif %}

<div class="container">
	{% for post in posts %}
	{% if not post.draft %}
	<div class="well">
		<legend>{{ post.title }}{% if g.user.is_authenticated() %}<a class="btn pull-right" href="{{ url_for('news_edit', post_id=post.id) }}">Edit Post</a>{% endif %}</legend>
		{{ post.body|safe }}
	</div>
	{% endif %}
	{% endfor %}
</div>
{% endblock %}