{% extends "layout.html" %}

{% block inner_content %}
<div class="row">
	<div class="span2">
		<h4>Diamond</h4>
	</div>
	<div class="span10">
			<div class="sponsor-div"><a href="http://rooksecurity.com"><img class="sponsor" src="/static/img/sponsors/rook_security.jpg" /></a></div>
	</div>
</div>
<div class="row">
	<div class="span2">
		<h4>Gold</h4>
	</div>
	<div class="span10">
		<div class="sponsor-div"><a href="http://ori.net"><img class="sponsor" src="/static/img/sponsors/ori.jpg" /></a></div>
		<div class="sponsor-div"><a href="https://www.trustedsec.com/"><img class="sponsor" src="/static/img/sponsors/trustedsec.jpg" /></a></div>
		<div class="sponsor-div"><a href="http://binarydefense.com"><img class="sponsor" src="/static/img/sponsors/bds.png" /></a></div>
		<div class="sponsor-div"><a href="http://peerlyst.com"><img class="sponsor" src="/static/img/sponsors/peerlyst.png" /></a></div>
		<div class="sponsor-div"><a href="http://www.xipiter.com/"><img class="sponsor" src="/static/img/sponsors/xipiter.jpg" /></a></div>
	</div>
</div>
<div class="row">
	<div class="span2">
		<h4>Silver</h4>
	</div>
	<div class="span10">
		<div class="sponsor-div"><a href="http://www.clubcyberia.org/"><img class="sponsor" src="/static/img/sponsors/cyberia.jpg"><br /><strong>Club Cyberia</strong></a></div>
		<div class="sponsor-div"><a href="https://www.sans.org/"><img class="sponsor" src="/static/img/sponsors/sans.jpg" /></a></div>
		<div class="sponsor-div"><a href="http://grrcon.org"><img class="sponsor" src="/static/img/sponsors/grrcon.jpg" /></a></div>
		<div class="sponsor-div"><a href="http://hak4kidz.com"><img class="sponsor" src="/static/img/sponsors/h4k.png" /></a></div>
		<div class="sponsor-div"><a href="http://www.captechu.edu/"><img class="sponsor" src="/static/img/sponsors/captech.jpg" /></a></div>
		<div class="sponsor-div"><a href="http://www.iu.edu/"><img class="sponsor" src="/static/img/sponsors/iu.jpg" /></a></div>
	</div>
</div>
<div class="row">
	<div class="span2">
		<h4>Bronze</h4>
	</div>
	<div class="span10">
		<div class="sponsor-div"><a href="http://www.nostarch.com/"><img class="sponsor" src="/static/img/sponsors/nsp.png" /></a></div>
		<div class="sponsor-div"><a href="http://www.renditioninfosec.com/"><img class="sponsor" src="/static/img/sponsors/rendition.png" /></a></div>
		<div class="sponsor-div"><a href="http://www.snowoffensivesecurity.com/"><img class="sponsor" src="/static/img/sponsors/snow_security.jpg" /></a></div>
		<div class="sponsor-div"><a href="http://bsideslv.org"><img class="sponsor" src="/static/img/sponsors/bsideslv.jpg" /></a></div>
		<div class="sponsor-div"><a href="http://showmecon.com/"><img class="sponsor" src="/static/img/sponsors/showmecon.jpg" /></a></div>
		<div class="sponsor-div"><a href="http://net-thunder.org/"><img class="sponsor" src="/static/img/sponsors/net_thunder.png" /></a></div>
	</div>
</div>
<div class="row">
	<div class="span2">
		<h4>Basic</h4>
	</div>
	<div class="span10">
		<div class="sponsor-div"><a href="http://www.varonis.com/"><img class="sponsor" src="/static/img/sponsors/varonis.jpg" /></a></div>
		<div class="sponsor-div"><a href="https://www.miltonsecurity.com/"><img class="sponsor" src="/static/img/sponsors/milton.jpg" /></a></div>
	</div>
</div>
<div class="row">
	<div class="span2">
		<h4>Bar</h4>
	</div>
	<div class="span10">
		<div class="sponsor-div"><a href="http://www.varonis.com/"><img class="sponsor" src="/static/img/sponsors/varonis.jpg" /></a></div>
		<div class="sponsor-div"><a href="http://www.safenet-inc.com/"><img class="sponsor" src="/static/img/sponsors/safenet.jpg" /></a></div>
	</div>
</div>
<div class="row">
	<div class="span2">
		<h4>Partner Conferences</h4>
	</div>
	<div class="span10">
		<div class="sponsor-div"><a href="http://bsideslv.org"><img class="sponsor" src="/static/img/sponsors/bsideslv.jpg" /></a></div>
		<div class="sponsor-div"><a href="http://showmecon.com/"><img class="sponsor" src="/static/img/sponsors/showmecon.jpg" /></a></div>
		<div class="sponsor-div"><a href="http://grrcon.org"><img class="sponsor" src="/static/img/sponsors/grrcon.jpg" /></a></div>
	</div>
</div>
{% endblock %}