{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<style>
#checkin-response {
	margin-top: 10px;
	min-height: 75%;
	text-align: center;
}
.glyphicon {
	font-size: 100px;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
		<div id="checkin-response" class="panel panel-{{ code }}">
			<div class="panel-heading">
				{% if code == 'success' %}
				<span class="glyphicon glyphicon-ok-sign"></span>
				{% elif code == 'warning' %}
				<span class="glyphicon glyphicon-warning-sign"></span>
				{% else %}
				<span class="glyphicon glyphicon-ban-circle"></span>
				{% endif %}
			</div>
			<div class="panel-body">
				<h2>{{ ticket.ticket_type or '' }}</h2>
				<p><strong>{{ ticket.name or '' }}</strong></p>
				<p>{{ ticket.ticket_hash or 'INVALID TICKET' }}</p>
				<p>{{ ticket.email }}</p>
				{% if ticket.classes|length > 0 %}
				<p><h3>Registered Classes</h3>
					<ul class="list-group">
						{% for class in ticket.classes %}
						<li class="list-group-item">{{ class }}</li>
						{% endfor %}
					</ul>
				</p>
				{% endif %}
				<h1>{{ message|safe }}</h1>
			</div>
			<div class="panel-footer">
				<input type="button" 
						class="btn btn-primary btn-lg" 
						role="button" 
						value="Close"
						onclick="self.close()" />
			</div>
		</div>
    </div>
  </div>
</div>
{% endblock %}
