{% extends "layout.html" %}
{% block inner_content %}
<p><strong>Tickets will go on sale December 2014.</strong></p>
<p>CircleCityCon offers three types of tickets:</p>
<ul>
	<li>General Admission: <strong>$150</strong></li>
	<li>Student/Educator Tickets (Must Register from .EDU Email Address): <strong>$100</strong></li>
	<li>Family Ticket (Includes two partners and up to 3 children**): <strong>$200</strong></li>
</ul>
<p>** NOTE This promotion is exclusively for families. A min of 1 child, and max of 3 children up to 16. Children must be present.  All family members must live in the same household.</p>
<p>All tickets are non-refundable.</p> 
<p>If you have any questions please contact tickets [AT] circlecitycon [D0T] com or feedback [AT] circlecitycon [D0T] com.</p>
<p><a href="/ticketing/purchase" class="btn">Purchase Tickets Now</a></p>
{% endblock %}