{% extends "layout.html" %}
{% block content %}
{{ super() }}
<div class="container">
	<table class="table table-striped">
		{% for setting in settings %}
		<tr>
			<td>{{ setting.name }}</td>
			<td>{{ setting.value }}</td>
			<td><a class="btn btn-sm btn-primary" href="{{ url_for('setting_update', name=setting.name) }}">Update</a></td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="3"><a class="btn btn-sm btn-primary" href="{{ url_for('setting_update', name='New Value') }}">New</a></td>
		</tr>
	</table>
</div>
{% endblock %}