{% extends "layout.html" %}
{% block content %}
{{ super() }}
<div class="container">
	<table class="table table-striped">
		<thead>
			<tr>
				<td>Name</td>
				<td>Sellable</td>
				<td>Cost</td>
				<td>Max per Purchaser</td>
				<td>Total Tickets Available</td>
				<td>Tickets Left</td>
				<td>Sale Start Time</td>
				<td>Sale End Time</td>
			</tr>
		</thead>
		<tbody>
		{% for ttype in ticket_types %}
		<tr>
			<td>{{ ttype.name }}</td>
			<td>{{ ttype.sellable }}</td>
			<td>{{ ttype.cost }}</td>
			<td>{{ ttype.max_per }}</td>
			<td>{{ ttype.max_tickets }}</td>
			<td>{{ ttype.remaining }}</td>
			<td>{{ ttype.start.strftime('%Y-%m-%d %H:%M') }}</td>
			<td>{{ ttype.end.strftime('%Y-%m-%d %H:%M') }}</td>
			<td><a class="btn btn-sm btn-primary" href="{{ url_for('ticket_type_edit', type_id=ttype.id) }}">Edit</a></td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="3"><a class="btn btn-sm btn-primary" href="{{ url_for('ticket_type_edit') }}">New Ticket Type</a></td>
		</tr>
		</tbody>
	</table>
</div>
{% endblock %}