{% extends "layout.html" %}
{% block content %}
{{ super() }}
<div class="container">
	<table class="table table-striped">
		{% for user in users %}
		<tr>
			<td>{{ user.email }}</td>
			<td>{{ user.name }}</td>
			<td>{{ user.tickets|length }}</td>
			<td>{{ user.seats|length }}</td>
			<td>{{ user.talks|length }}</td>
			<td>{{ user.classes|length }}</td>
			<td><a class="btn btn-sm btn-primary" href="{{ url_for('user', user_id=user.id) }}">Edit</a></td>
		</tr>
		{% endfor %}
		<tr>
			<td colspan="3"><a class="btn btn-sm btn-primary" href="{{ url_for('setting_update', name='New Value') }}">New</a></td>
		</tr>
	</table>
</div>
{% endblock %}