{% extends "layout.html" %}

{% block inner_content %}
<div class="pull-center">

<div class="container">
	<div class="row">
		<div class="span4">
			<ul class="nav nav-list">
				<li class="nav-header">Talks</li>
				<li><a href="#fri-talks">Friday</a></li>
				<li><a href="#sat-talks">Saturday</a></li>
				<li><a href="#sun-talks">Sunday</a></li>
			</ul>
		</div>
		<div class="span4">
			<ul class="nav nav-list">
				<li class="nav-header">Training</li>
				<li><a href="#fri-training">Friday</a></li>
				<li><a href="#sat-training">Saturday</a></li>
				<li><a href="#sun-training">Sunday</a></li>
			</ul>
		</div>
		<div class="span4">
			<ul class="nav nav-list">
				<li class="nav-header">Other</li>
				<li><a href="#parties">Parties</a></li>
				<li><a href="#h4k">Hak4Kidz</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="clearfix" style="margin-bottom: 10px;"></div>

<div id="fri-talks" class="container">
	<div class="page-header" style="margin-top: 4px;">
		<h1>Friday Talks</h1>
	</div>
	<div class="row"><h2>1500</h2>
		<div class="span12 sched-item">
			<div class="sched-body">Keynote: SpaceRogue</div>
			<div class="sched-footer">1500 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
	</div>
	<div class="row"><h2>1600</h2>
		<div class="span12 sched-item">
			<div class="sched-body"><a href="/talks#open_ssl">Rethinking the Trust Chain: Auditing OpenSSL and Beyond</a></div>
			<div class="sched-footer">1600 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
	</div>
	<div class="row"><h2>1700</h2>
		<div class="span12 sched-item">
			<div class="sched-body"><a href="/talks#superball">Actionable Threat Intelligence, ISIS, and the SuperBall</a></div>
			<div class="sched-footer">1700 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
	</div>
	<div class="row"><h2>1800</h2>
		<div class="span12 sched-item">
			<div class="sched-body"><a href="/talks#sec_culture_in_dev">Security Culture in Development</a></div>
			<div class="sched-footer">1800 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
	</div>
</div>

<div id="fri-training" class="container">
	<div class="page-header" style="margin-top: 4px;">
		<h1>Friday Training</h1>
	</div>
	<div class="row"><h2>0900</h2>
		<div class="span3 sched-item">
			<div class="sched-body"><a href="/training#intro_ctf">Introduction to CTF Challenges</a></div>
			<div class="sched-footer">0900 (4 hrs)<span class="pull-right">Tr1</span></div>
		</div>
		<div class="span3 sched-item">
			<div class="sched-body"><a href="/training#dfir_101">DFIR 101</a></div>
			<div class="sched-footer">0900 (4 hrs)<span class="pull-right">Tr2</span></div>
		</div>
		<div class="span3 sched-item">
			<div class="sched-body"><a href="/training#threat_intel">Introduction to Threat Intelligence</a></div>
			<div class="sched-footer">0900 (4 hrs)<span class="pull-right">Tr3</span></div>
		</div>
		<div class="span3 sched-item">
			<div class="sched-body"><a href="/training#tuning_snort">Tuning Snort, A crash course in Optimizing Snort</a></div>
			<div class="sched-footer">0900 (4 hrs)<span class="pull-right">Tr4</span></div>
		</div>
	</div>
	<div class="row"><h2>1600</h2>
		<div class="span3 sched-item">
			<div class="sched-body"><a href="/training#intro_ctf">Introduction to CTF Challenges</a></div>
			<div class="sched-footer">1600 (4 hrs)<span class="pull-right">Tr1</span></div>
		</div>
		<div class="span3 sched-item">
			<div class="sched-body"><a href="/training#lock_pocking_101">Intro to Lock Picking</a></div>
			<div class="sched-footer">1600 (4 hrs)<span class="pull-right">Tr2</span></div>
		</div>
		<div class="span3 sched-item">
			<div class="sched-body"><a href="/training#threat_intel">Introduction to Threat Intelligence</a></div>
			<div class="sched-footer">1600 (4 hrs)<span class="pull-right">Tr3</span></div>
		</div>
		<div class="span3 sched-item">
			<div class="sched-body"><a href="/training#tuning_snort">Tuning Snort, A crash course in Optimizing Snort</a></div>
			<div class="sched-footer">1600 (4 hrs)<span class="pull-right">Tr4</span></div>
		</div>
	</div>
</div>

<div id="sat-talks" class="container">
	<div class="page-header" style="margin-top: 4px;">
		<h1>Saturday Talks</h1>
	</div>
	<div class="row"><h2>0800</h2>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#digital_supply_chain">Digital Supply Chain Security: The Exposed Flank</a></div>
			<div class="sched-footer">0800 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
		<div class="span4 multi-sched">
			<div class="sched-item">
				<div class="sched-body"><a href="/talks#ruby_hipsters">Ruby - Not just for hipster</a></div>
				<div class="sched-footer">0800 (20 min)<span class="pull-right">Track 2</span></div>
			</div>
			<div class="sched-item">
				<div class="sched-body"><a href="/talks#config_yo_shiz">Configure your assets, save your butt</a></div>
				<div class="sched-footer">0830 (20 min)<span class="pull-right">Track 2</span></div>
			</div>
		</div>
		<div class="span4 multi-sched">
			<div class="sched-item">
				<div class="sched-body"><a href="/talks#yara">Operationalizing Yara</a></div>
				<div class="sched-footer">0800 (20 min)<span class="pull-right">Track 3</span></div>
			</div>
			<div class="sched-item">
				<div class="sched-body"><a href="/talks#sec_vs_priv">An Inconvenient Truth: Security Monitoring vs. Privacy in the Workplace</a></div>
				<div class="sched-footer">0830 (20 min)<span class="pull-right">Track 3</span></div>
			</div>
		</div>
	</div>
	<div class="row"><h2>0900</h2>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#hacking_iis">Hacking IIS and .NET</a></div>
			<div class="sched-footer">0900 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#zitmo_nom">ZitMo NoM - Clientless Android Malware Control</a></div>
			<div class="sched-footer">0900 (50 min)<span class="pull-right">Track 2</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#blue_to_red">From Blue To Red - What Matters and What (Really) Doesn't</a></div>
			<div class="sched-footer">0900 (50 min)<span class="pull-right">Track 3</span></div>
		</div>
	</div>
	<div class="row"><h2>1000</h2>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#ua_wdiw">User Awareness, We're Doing It Wrong</a></div>
			<div class="sched-footer">1000 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#amateur_radio">I Amateur Radio (And So Can You)</a></div>
			<div class="sched-footer">1000 (50 min)<span class="pull-right">Track 2</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#evernote_timp">Using Evernote as an Threat Intelligence Management Platform</a></div>
			<div class="sched-footer">1000 (50 min)<span class="pull-right">Track 3</span></div>
		</div>
	</div>
	<div class="row"><h2>1100</h2>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#departmentalizing_secops">Departmentalizing Your SecOps</a></div>
			<div class="sched-footer">1100 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#wireless_id_rpi">Wireless Intrusion Detection System with Raspberry Pi</a></div>
			<div class="sched-footer">1100 (50 min)<span class="pull-right">Track 2</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#intro_to_csrf">Surfing the Sea and Drowning in Tabs: An Introduction to Cross-Site Request Forgery</a></div>
			<div class="sched-footer">1100 (50 min)<span class="pull-right">Track 3</span></div>
		</div>
	</div>
	<div class="row"><h2>1200</h2>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#phish_in_a_barrel">Shooting Phish in a Barrel and Other Terrible Fish Related Puns</a></div>
			<div class="sched-footer">1200 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#answer_is_42">The Answer is 42 - InfoSec Data Visualization (Making Metric Magic & Business Decisions)</a></div>
			<div class="sched-footer">1200 (50 min)<span class="pull-right">Track 2</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#risk_assessment_phd">Turn Your Head And Cough: Why Architecture Risk Assessments Are Like Being A General Physician</a></div>
			<div class="sched-footer">1200 (50 min)<span class="pull-right">Track 3</span></div>
		</div>
	</div>
	<div class="row"><h2>1300</h2>
		<div class="span12 sched-item"><div class="sched-body">LUNCH</div></div>
	</div>
	<div class="row"><h2>1400</h2>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#dlp_where_to_start">Data Loss Prevention: Where do I start?</a></div>
			<div class="sched-footer">1400 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#running_away_from_sec">Running Away from Security: Web App Vulnerabilities and OSINT Collide</a></div>
			<div class="sched-footer">1400 (50 min)<span class="pull-right">Track 2</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#obama_cyber">OBAMAS CYBER SECURITY PLAN DISSECTED</a></div>
			<div class="sched-footer">1400 (50 min)<span class="pull-right">Track 3</span></div>
		</div>
	</div>
	<div class="row"><h2>1500</h2>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#evil_empire">Evil Empire: SIEM FTW</a></div>
			<div class="sched-footer">1500 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#lessons_learned_security_programs">Lessons Learned from Implementing Software Security Programs</a></div>
			<div class="sched-footer">1500 (50 min)<span class="pull-right">Track 2</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#hacker_community_is_dead">The Hacker Community is Dead! Long Live the Hacker Community!</a></div>
			<div class="sched-footer">1500 (50 min)<span class="pull-right">Track 3</span></div>
		</div>
	</div>
	<div class="row"><h2>1600</h2>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#se_attack_surface">Reducing Your Organization's Social Engineering Attack Surface</a></div>
			<div class="sched-footer">1600 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#moose_and_squirrel">"Stupid Pentester Tricks - OR - Great Sysadmin Tips!" - Done in style of Rocky and Bullwinkle</a></div>
			<div class="sched-footer">1600 (50 min)<span class="pull-right">Track 2</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#sec_culture">Square Peg, Round Hole: Developing a Security Culture Within an Enterprise</a></div>
			<div class="sched-footer">1600 (50 min)<span class="pull-right">Track 3</span></div>
		</div>
	</div>
	<div class="row"><h2>1700</h2>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#1993_bc">1993 B.C. (Before Cellphones)</a></div>
			<div class="sched-footer">1700 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#findings_2d">Findings to date.</a></div>
			<div class="sched-footer">1700 (50 min)<span class="pull-right">Track 2</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#smuggling_plums">Smuggling Plums - Using Active Defnse techniques to hide your web apps from your attackers and their scanners</a></div>
			<div class="sched-footer">1700 (50 min)<span class="pull-right">Track 3</span></div>
		</div>
	</div>
	<div class="row"><h2>1800</h2>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#building_ir">Building a Comprehensive Incident Management Program</a></div>
			<div class="sched-footer">1800 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#clean_computing">Clean Computing: Changing Cultural Perceptions</a></div>
			<div class="sched-footer">1800 (50 min)<span class="pull-right">Track 2</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#deploy_honeypots">Deploying Honeypots To Gather Actionable Threat Intelligence</a></div>
			<div class="sched-footer">1800 (50 min)<span class="pull-right">Track 3</span></div>
		</div>
	</div>
</div>

<div id="sat-training" class="container">
	<div class="page-header" style="margin-top: 4px;">
		<h1>Saturday Training</h1>
	</div>
	<div class="row"><h2>0900</h2>
		<div class="span3 sched-item">
			<div class="sched-body"><a href="/training#intelligence_analysis">Intelligence Analysis by Desig2</a></div>
			<div class="sched-footer">0900 (4 hrs)<span class="pull-right">Tr1</span></div>
		</div>
		<div class="span2 multi-sched">
			<div class="sched-item">
				<div class="sched-body"><a href="/training#dysfunction">Leading Leaders and Dodging Dysfunction</a></div>
				<div class="sched-footer">0900 (2 hrs)<span class="pull-right">Tr2</span></div>
			</div>
			<div class="sched-item">
				<div class="sched-body"><a href="/training#hardening_linux">Lock down Linux: A workshop on hardening Linux</a></div>
				<div class="sched-footer">1100 (2 hrs)<span class="pull-right">Tr2</span></div>
			</div>
		</div>
		<div class="span2 sched-item">
			<div class="sched-body"><a href="/training#infosec_gig">Your Own Worst Enemy: Landing your First InfoSec Gig Despite Yourself</a></div>
			<div class="sched-footer">0900 (4 hrs)<span class="pull-right">Tr3</span></div>
		</div>
		<div class="span2 sched-item">
			<div class="sched-body"><a href="/training#wireshark">Wireshark Like a Boss</a></div>
			<div class="sched-footer">0900 (4 hrs)<span class="pull-right">Tr4</span></div>
		</div>
		<div class="span3 sched-item">
			<div class="sched-body"><a href="/training#social_engineering">Social Engineering 101</a></div>
			<div class="sched-footer">0900 (4 hrs)<span class="pull-right">Tr5</span></div>
		</div>
	</div>
	<div class="row"><h2>1400</h2>
		<div class="span3 sched-item">
			<div class="sched-body"><a href="/training#better_living_through_chem">Better living through chemistry</a></div>
			<div class="sched-footer">1400 (4 hrs)<span class="pull-right">Tr1</span></div>
		</div>
		<div class="span2 sched-item">
			<div class="sched-body"><a href="/training#intro_ham_101">Intro to Ham Radio 101</a></div>
			<div class="sched-footer">0900 (2 hrs)<span class="pull-right">Tr2</span></div>
		</div>
		<div class="span2 sched-item">
			<div class="sched-body"><a href="/training#power_of_pi">The Power of Pi</a></div>
			<div class="sched-footer">0900 (4 hrs)<span class="pull-right">Tr3</span></div>
		</div>
		<div class="span2 sched-item">
			<div class="sched-body"><a href="/training#ir_program">Building an Incident Response Program</a></div>
			<div class="sched-footer">0900 (4 hrs)<span class="pull-right">Tr4</span></div>
		</div>
		<div class="span3 sched-item">
			<div class="sched-body"><a href="/training#pwnpad">Build Your Own PwnPad</a></div>
			<div class="sched-footer">0900 (4 hrs)<span class="pull-right">Tr5</span></div>
		</div>
	</div>
</div>

<div id="sun-talks" class="container">
	<div class="page-header" style="margin-top: 4px;">
		<h1>Sunday Talks</h1>
	</div>
	<div class="row"><h2>0800</h2>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#analyzing_entropy">Analyzing the Entropy of Document Hidden Code</a></div>
			<div class="sched-footer">0800 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#parking_lot_to_pwn">From Parking Lot to Pwnage - Hack–free Network Pwnage</a></div>
			<div class="sched-footer">0800 (50 min)<span class="pull-right">Track 2</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#clear_as_fud">Clear as FUD: A look at how confusing jargon and technology can create fear, uncertainty, and doubt</a></div>
			<div class="sched-footer">0800 (50 min)<span class="pull-right">Track 3</span></div>
		</div>
	</div>
	<div class="row"><h2>0900</h2>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#key_mngt">Key Management in Software</a></div>
			<div class="sched-footer">0900 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#plaguescanner">PlagueScanner: An Open Source Multiple AV Scanner Framework</a></div>
			<div class="sched-footer">0900 (50 min)<span class="pull-right">Track 2</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#budget_ids">How to Budget for IDS</a></div>
			<div class="sched-footer">0900 (50 min)<span class="pull-right">Track 3</span></div>
		</div>
	</div>
	<div class="row"><h2>1000</h2>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#android_recovery">Making Android's Bootable Recovery Work For You</a></div>
			<div class="sched-footer">1000 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#threat_hunters">Advanced Threat Hunting</a></div>
			<div class="sched-footer">1000 (50 min)<span class="pull-right">Track 2</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#evernote_timp">Reverse Engineering Windows AFD.sys</a></div>
			<div class="sched-footer">1000 (50 min)<span class="pull-right">Track 3</span></div>
		</div>
	</div>
	<div class="row"><h2>1100</h2>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#remember_esa">Does anyone remember Enterprise Security Architecture?</a></div>
			<div class="sched-footer">1100 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#sturdy_foundation">Building a sturdy foundation - a program-based approach to IT Operations, Application Development, and Information Security in business</a></div>
			<div class="sched-footer">1100 (50 min)<span class="pull-right">Track 2</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#intro_to_csrf">Nepenthes: Netpens With Less Pain</a></div>
			<div class="sched-footer">1100 (50 min)<span class="pull-right">Track 3</span></div>
		</div>
	</div>
	<div class="row"><h2>1200</h2>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#malware_armor">Malware Armor</a></div>
			<div class="sched-footer">1200 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#jolla">Hacking the Jolla: An Intro to Assessing A Mobile Device</a></div>
			<div class="sched-footer">1200 (50 min)<span class="pull-right">Track 2</span></div>
		</div>
		<div class="span4 sched-item">
			<div class="sched-body"><a href="/talks#pen_testing">Do We Still Need Pen Testing?</a></div>
			<div class="sched-footer">1200 (50 min)<span class="pull-right">Track 3</span></div>
		</div>
	</div>
	<div class="row"><h2>1300</h2>
		<div class="span12 sched-item"><div class="sched-body">LUNCH</div></div>
	</div>
	<div class="row"><h2>1400</h2>
		<div class="span12 sched-item">
			<div class="sched-body">Closing Keynote - Dave Kennedy</div>
			<div class="sched-footer">1400 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
	</div>
	<div class="row"><h2>1500</h2>
		<div class="span12 sched-item">
			<div class="sched-body">Closing Ceremonies</div>
			<div class="sched-footer">1500 (50 min)<span class="pull-right">Track 1</span></div>
		</div>
	</div>
</div>

<div id="sun-training" class="container">
	<div class="page-header" style="margin-top: 4px;">
		<h1>Sunday Training</h1>
	</div>
	<div class="row"><h2>0900</h2>
		<div class="span3 sched-item">
			<div class="sched-body"><a href="/training#smb_security">Small and Medium Business Security: The First Steps</a></div>
			<div class="sched-footer">0900 (4 hrs)<span class="pull-right">Tr1</span></div>
		</div>
		<div class="span2 sched-item">
			<div class="sched-body"><a href="/training#hacking_webapps">Break it before you buy it - Hacking and fixing web applications</a></div>
			<div class="sched-footer">0900 (4 hrs)<span class="pull-right">Tr2</span></div>
		</div>
		<div class="span2 sched-item">
			<div class="sched-body"><a href="/training#e_textiles">Introduction to E-textiles</a></div>
			<div class="sched-footer">0900 (4 hrs)<span class="pull-right">Tr3</span></div>
		</div>
		<div class="span2 multi-sched">
			<div class="sched-item">
				<div class="sched-body"><a href="/training#android_apps">Security Auditing Android Apps</a></div>
				<div class="sched-footer">0900 (2 hrs)<span class="pull-right">Tr4</span></div>
			</div>
			<div class="sched-item">
				<div class="sched-body"><a href="/training#ham_exams">Ham Exams</a></div>
				<div class="sched-footer">1100 (2 hrs)<span class="pull-right">Tr4</span></div>
			</div>
		</div>
		<div class="span3 sched-item">
			<div class="sched-body"><a href="/training#ia_by_design">Intelligence Analysis by Design</a></div>
			<div class="sched-footer">0900 (4 hrs)<span class="pull-right">Tr5</span></div>
		</div>
	</div>
</div>

<div id="parties" class="container">
	<div class="page-header" style="margin-top: 4px;">
		<h1>Parties</h1>
	</div>
	<p>Parties are Friday and Saturday night and start at 2100 (9pm) on each night.</p>
</div>

<div id="h4k" class="container">
	<div class="page-header" style="margin-top: 4px;">
		<h1>Hak4Kidz</h1>
	</div>
	<h2>Saturday</h2>
	<div class="sched-item">
		<div class="sched-body">Activity Labs</div>
		<div class="sched-footer">Saturday - 0900</div>
	</div>
	<div class="sched-item">
		<div class="sched-body">Activity Labs</div>
		<div class="sched-footer">Saturday - 1000</div>
	</div>
	<div class="sched-item">
		<div class="sched-body">Activity Labs</div>
		<div class="sched-footer">Saturday - 1100</div>
	</div>
	<div class="sched-item">
		<div class="sched-body">SSO Presontation</div>
		<div class="sched-footer">Saturday - 1200</div>
	</div>
	<div class="sched-item">
		<div class="sched-body">Lunch/Prizes</div>
		<div class="sched-footer">Saturday - 1300</div>
	</div>
	<div class="sched-item">
		<div class="sched-body">Activity Labs</div>
		<div class="sched-footer">Saturday - 1400</div>
	</div>
	<div class="sched-item">
		<div class="sched-body">Activity Labs</div>
		<div class="sched-footer">Saturday - 1500</div>
	</div>
	<div class="sched-item">
		<div class="sched-body">Activity Labs</div>
		<div class="sched-footer">Saturday - 1600</div>
	</div>
	<h2>Sunday</h2>
	<div class="sched-item">
		<div class="sched-body">Activity Labs</div>
		<div class="sched-footer">Sunday - 0900</div>
	</div>
	<div class="sched-item">
		<div class="sched-body">Activity Labs</div>
		<div class="sched-footer">Sunday - 1000</div>
	</div>
	<div class="sched-item">
		<div class="sched-body">Activity Labs</div>
		<div class="sched-footer">Sunday - 1100</div>
	</div>
	<div class="sched-item">
		<div class="sched-body">Breakdown</div>
		<div class="sched-footer">Sunday - 1200</div>
	</div>
	<div class="sched-item">
		<div class="sched-body">Lunch/Prizes</div>
		<div class="sched-footer">Sunday - 1300</div>
	</div>
</div>
{% endblock %}