{% extends "layout.html" %}

{% block inner_content %}
<div class="container-fluid">
<div class="row-fluid">
<div class="span3">
	<ul class="nav nav-list">
		<li class="nav-header">Talks</li>
		<li><a href="#wireless_id_rpi">Wireless Intrusion Detection System with Raspberry Pi</a></li>
		<li><a href="#digital_supply_chain">Digital Supply Chain Security: The Exposed Flank</a></li>
		<li><a href="#parking_lot_to_pwn">From Parking Lot to Pwnage - Hack-free Network Pwnage</a></li>
		<li><a href="#plaguescanner">PlagueScanner: An Open Source Multiple AV Scanner Framework</a></li>
		<li><a href="#risk_assessment_phd">Turn Your Head And Cough: Why Architecture Risk Assessments Are Like Being A General Physician</a></li>
		<li><a href="#dlp_where_to_start">Data Loss Prevention: Where do I start?</a></li>
		<li><a href="#intro_to_csrf">Surfing the Sea and Drowning in Tabs: An Introduction to Cross-Site Request Forgery/a></li>
		<li><a href="#clean_computing">Clean Computing: Changing Cultural Perceptions</a></li>
		<li><a href="#amateur_radio">I Amateur Radio (And So Can You)</a></li>
		<li><a href="#lessons_learned_security_programs">Lessons Learned from Implementing Software Security Programs</a></li>
		<li><a href="#hacking_iis">Hacking IIS and .NET</a></li>
		<li><a href="#departmentalizing_secops">Departmentalizing Your SecOps</a></li>
		<li><a href="#obama_cyber">OBAMAS CYBER SECURITY PLAN DISSECTED</a></li>
		<li><a href="#zitmo_nom">ZitMo NoM - Clientless Android Malware Control</a></li>
		<li><a href="#sec_culture">Square Peg, Round Hole: Developing a Security Culture Within an Enterprise</a></li>
		<li><a href="#key_mngt">Key Management in Software</a></li>
		<li><a href="#pen_testing">Do We Still Need Pen Testing?</a></li>
		<li><a href="#remember_esa">Does anyone remember Enterprise Security Architecture?</a></li>
		<li><a href="#building_ir">Building a Comprehensive Incident Management Program</a></li>
		<li><a href="#running_away_from_sec">Running Away from Security: Web App Vulnerabilities and OSINT Collide</a></li>
		<li><a href="#evil_empire">Evil Empire: SIEM FTW</a></li>
		<li><a href="#hacker_community_is_dead">The Hacker Community is Dead! Long Live the Hacker Community!</a></li>
		<li><a href="#smuggling_plums">Smuggling Plums - Using Active Defnse techniques to hide your web apps from your attackers and their scanners</a></li>
		<li><a href="#moose_and_squirrel">"Stupid Pentester Tricks - OR - Great Sysadmin Tips!" - Done in style of Rocky and Bullwinkle</a></li>
		<li><a href="#deploy_honeypots">Deploying Honeypots To Gather Actionable Threat Intelligence</a></li>
		<li><a href="#clear_as_fud">Clear as FUD: A look at how confusing jargon and technology can create fear, uncertainty, and doubt</a></li>
		<li><a href="#threat_hunters">Advanced Threat Hunting</a></li>
		<li><a href="#superball">Actionable Threat Intelligence, ISIS, and the SuperBall</a></li>
		<li><a href="#yara">Operationalizing YARA</a></li>
		<li><a href="#se_attack_surface">Reducing Your Organization's Social Engineering Attack Surface</a></li>
		<li><a href="#evernote_timp">Using Evernote as an Threat Intelligence Management Platform</a></li>
		<li><a href="#sec_vs_priv">An Inconvenient Truth: Security Monitoring vs. Privacy in the Workplace</a></li>
	</ul>
</div>
<div class="span8 offset1">
	<div class="row">
		<div id="wireless_id_rpi">
			<legend>Wireless Intrusion Detection System with Raspberry Pi</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#chris_jenks">Chris Jenks</a></li></ul>
			<p>This talk covers a distributed Wireless Intrusion Detection System using multiple 
				Raspberry Pi boards. While there are more polished solutions on there, this solution 
				works as a good proof of concept, or in house solution for small to medium businesses.
			</p>
			<p>This talk covers why scanning is needed, cost comparisons, a quick overview of setting 
				up the Raspberry Pi, and the problems I've seen and had to adjust for since the original 
				Proof of Concept.  With luck and time permitting, we'll have a small version set up in 
				the room, and we can show how the system works in real time.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="digital_supply_chain">
			<legend>Digital Supply Chain Security: The Exposed Flank</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#dave_lewis">Dave Lewis</a></li></ul>
			<p>This talk will speak to the issues pertaining to supply chain security as is 
				relates to global organizations and the highly interconnected nature of suppliers 
				and corporations. I will pull from personal war stories to help illustrate the 
				need to not just worry about the main corporate security perimeter but to address 
				the extended perimeter and they exposures and risks that arise from the supply chain. 
				Some of the aspects of an exposed supply chain that I will address are trading partner 
				networks, code developed by off shore development centres and outsourced help desks. 
				All of the aforementioned have access into the enterprise environment and do not always 
				have the requisite controls in place to monitor and control their level of access.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="parking_lot_to_pwn">
			<legend>From Parking Lot to Pwnage - Hack-free Network Pwnage</legend>
			<ul>
				<li><strong>Speaker : </strong><a href="/schedule/bios#brent_white">Brent White</a></li>
				<li><strong>Speaker : </strong><a href="/schedule/bios#tim_roberts">Tim Roberts</a></li>
			</ul>
			<p>Pretending to be an employee is one thing, but owning layers of identities is what 
				leads to owning the data center. In this presentation you will listen to real 
				world scenarios that led to armed guards opening the server room for the 
				"employee" to Secretaries handing over an Executive's laptop. All of this and 
				more, from parking lot to pwnage.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="plaguescanner">
			<legend>PlagueScanner: An Open Source Multiple AV Scanner Framework</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#robert_simmons">Robert Simmons</a></li></ul>
			<p>PlagueScanner is an open source framework for organizing any number of AV scanners 
				into one contiguous tool chain. It leverages high speed message queuing along with 
				JSON report output for easy integration into an automated malware analysis lab. 
				An optional ElasticSearch output plugin lets you keep historical data for future 
				searching and further analysis.
			</p>
			<p>This project solves the problem of what to do with a sensitive malicious file that 
				you wish to have multiple AV scanner results for, but you are wary about uploading 
				the file to a public site, and you don't want to pay the hefty price for a 
				commercial scanner bank.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="risk_assessment_phd">
			<legend>Turn Your Head And Cough: Why Architecture Risk Assessments Are Like Being A General Physician</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#nathaniel_husted">Nathaniel Husted</a></li></ul>
			<p>While vulnerability assessments and penetration tests are all the rage for the modern 
				information security professional, security architecture assessments are just as 
				important. In fact, they are just as important as seeing your doctor about a yearly 
				physical. This talk discusses the general process for security architecture reviews 
				and how that process leaves the reviewer acting like a general physician. We will use 
				this metaphore to shed light on the benefits and drawbacks of the security architecture 
				review process and how we might improve outcomes from the process.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="dlp_where_to_start">
			<legend>Data Loss Prevention: Where do I start?</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#jason_samide">Jason Samide</a></li></ul>
			<p>Companies want Data Loss Prevention.  However, most are unsure what DLP is and how to 
				implement a proper program.  Where to start and who are the stakeholders is key to any 
				successful program.  Typically, companies roll out DLP and are unsure if it successful 
				and does it adhere to the business and technical requirements set out from the beginning.  
				With the right approach and a detailed plan, Data Loss Prevention can be implemented 
				successfully and the organization can benefit from the technology.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="intro_to_csrf">
			<legend>Surfing the Sea and Drowning in Tabs: An Introduction to Cross-Site Request Forgery</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#barry_schatz">Barry Schatz</a></li></ul>
			<p>With more web applications using persistent logins and users keeping more applications 
				open in browser tabs, Cross-Site Request Forgery (CSRF) is an attractive vulnerability 
				for malicious actors to exploit. CSRF is one of the OWASP Top 10, and rightfully so. 
				This talk will describe the vulnerability, show some examples (maybe demonstrate it, 
				demo gods willing), and then show a few techniques to prevent and mitigate abuse.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="clean_computing">
			<legend>Clean Computing: Changing Cultural Perceptions</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#emily_peed">Emily Peed</a></li></ul>
			<p>Computing's environmental impact as it continues to globalize will gain in 
				awareness as the disproportional resources that go into it, the harsh chemicals 
				and processes that produce it, and the e-waste management and recycling issues 
				come more often to light. 
			</p>
			<p>Clean Computing is the push to make computing more biodegradable, renewable, and 
				eco-friendly. The ability of technology to start become more life-like could 
				herald in transformations in our more elusive fields. Robotics, the biomedical 
				industry, space exploration, and numerous fields within computing could benefit 
				from a shift in focus.
			</p>
			<p>Clean Computing can influence the acceptance of green technologies and policies due 
				to its inherently integral use in our daily lives. It can be the new breath of life 
				hat the green movement has been needing to gain momentum.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="amateur_radio">
			<legend>I Amateur Radio (And So Can You)</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#kat_sweet">Kat Sweet</a></li></ul>
			<p>Ham radio: it's the 100 year-old technology that refuses to die. Whether you're a 
				wireless enthusiast, electronics tinkerer, or just someone who wants to be able 
				to communicate during the zombie apocalypse, having a ham radio license can open 
				a new world of possibilities for any hacker. Come learn how and where to get your 
				license, what you can expect to study, how you can work radio into your everyday 
				hacking, and anything else you ever wanted to know about ham radio but were 
				afraid to ask.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="lessons_learned_security_programs">
			<legend>Lessons Learned from Implementing Software Security Programs</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#todd_grotenhuis">Todd Grotenhuis</a></li></ul>
			<p>A common approach to securing software is to try to break software after it has 
				already been made available to the customer or to the public (or, in 
				slightly-more-proactive environments, doing software security testing just prior 
				to code release). While this type of validation is important, it is incomplete 
				and inefficient as a lone software security control.
			</p>
			<p>To make significant and sustainable changes to the security of software, we need 
				to push left in the development lifecycle, incorporating activities like Security 
				Training, Threat Modeling, Secure Engineering, and SDLC-Integrated Security Analysis.
			</p>
			<p>In this talk, I will share lessons-learned from implementing these types of programs 
				at small and large enterprises. What kind of ground work do you need to do? How do you 
				work with developers who aren't already trained in security? What types of questions 
				should you be asking when selecting tools and processes? How can automation and metrics 
				serve you? What are some of the major pitfalls and concerns? How do you make sure there 
				is strong adoption of the security process enhancements?
			</p>
			<p>We'll talk about these questions and more, as we look at how to enhance software 
				security programs.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="hacking_iis">
			<legend>Hacking IIS and .NET</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#kevin_miller">Kevin Miller</a></li></ul>
			<p>Even in the most secure Windows environments the communication between development 
				and infrastructure causes issues to slip through the cracks and holes to open on 
				machines.  Hopefully, a windows machine running IIS is hardened, but often the 
				misconfiguration of accounts and poorly written .NET code allows attackers to gain 
				information thought to be inaccessible.  Once someone gains access to a machine, 
				there are a number of places to look for credentials and alter programs which either 
				allows access to other machines connected to it or change data processed by applications 
				written by the organization.  
			</p>
			<p>Most organizations don't even know these holes exist, because they don't know where 
				and how they are stored both in the server and applications.  Changing registry 
				settings to help with application health, switching account types systems run 
				under, and aggressively validating data passing through parts of an application 
				are all necessary for securing a system beyond the recommended processes.  Even 
				with all of this, systems which don't re-validate inputs from "trusted tiers" are 
				vulnerable, and any code which places unchecked business rules on exposed machines 
				run the risk of being hijacked and subverted to an attackers benefit.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="departmentalizing_secops">
			<legend>Departmentalizing Your SecOps</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#tom_gorup">Tom Gorup</a></li></ul>
			<p>Security Operations Centers tend to encompass a 'Jack of all trades, Master 
				none' type of setup. Security Analysts are required to learn different skills 
				and procedures on-the-fly to meet  expectations from other teams throughout the 
				organization. This results in SOC's over promising and under delivering when the 
				rubber meets the road. Security Operations needs to be broken out similarly to 
				that of traditional IT teams. With each team encompassing different level of 
				analysts specializing in skills and technologies. 
			</p>
			<p>During this presentation I will be discussing current team (SOC and IT) layouts, 
				why it's not working, and how Security Operations should be broken out. This 
				presentation will also touch on ensuring teams also maintain the true Purple 
				Team concept (mesh of blue team and red team players). Security teams are spread 
				too thin within the organization and a shift must occur to ensure security is 
				properly delivered.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="obama_cyber">
			<legend>OBAMAS CYBER SECURITY PLAN DISSECTED</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#jonathan_thompson">Jonathan Thompson</a></li></ul>
			<p>President Obama released his legislative updates to existing law in the WH's 
				effort to improve the state of cyber security. His efforts are lauded by many, 
				yet in infosec, they have been regarded as leading to "an information security 
				armageddon" and an end of days for our profession. In this collaborative 
				work-session, we will examine the components of the proposed legislation, evaluate 
				case law, and identify key opportunities for improvement. These results will be 
				aggregated and shared with the White House and leadership in Congress.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="zitmo_nom">
			<legend>ZitMo NoM - Clientless Android Malware Control</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#the_schwartz">David Schwartzberg</a></li></ul>
			<p>A world without malware is ideal but unlikely. Many of us would prefer *not* to install 
				another layer of protection on their already resource constrained handheld mobile device. 
				Alternatively, Android malware detection sans local anti-virus installation has become a 
				reality. Learn about how it’s possible to detect mobile malware using simple text messages 
				with ZitMo NoM. ZeuS in the Mobile, known as ZitMo, is infamous for intercepting SMS 
				transmissions then redirecting them to a Command & Control in order steal banking and personal 
				information. Research with SMS transmissions directed at mobile malware has resulted in the 
				ability to detect ZitMo’s presence without anti-virus applications installed. Turning their 
				own tools against them makes this even more of a rewarding endeavor. We are looking for malware 
				researchers to contribute to the continued development of this open tool. The presentation will 
				include the research, the infrastructure and a demonstration of ZitMo NoM. Live malware will be 
				used during this presentation, assuming we get it to behave.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="sec_culture">
			<legend>Square Peg, Round Hole: Developing a Security Culture Within an Enterprise</legend>
			<ul>
				<li><strong>Speaker : </strong><a href="/schedule/bios#jeff_pergal">Jeff Pergal</a></li>
				<li><strong>Speaker : </strong><a href="/schedule/bios#stuart_mcintosh">Stuart McIntosh</a></li>
			</ul>
			<p>How do you develop a high performing integrated security team within a restrictive enterprise environment?</p>
			<p>We will discuss our approach to creating a security culture within a Fortune 500, and covering the hits 
				and misses based on experimentation within our groups and years of enterprise management expertise. 
			</p>
			<p>If you are struggling to attract, develop and retain internal security expertise we hope this helps 
				give you ideas and takeaways for building your teams.
			</p>
		</div>
	</div>
	<div class="row">
	<div class="row">
		<div id="key_mngt">
			<legend>Key Management in Software</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#nerdy_beardo">Nerdy Beardo</a></li></ul>
			<p>Key management is one of the most difficult problems in cryptography.  Software 
				applications typically store keys poorly, leaving them open to attacks.  This 
				presentation is about strategies for storing and using keys in applications.  
				We will use a number of use cases and talk about how keys are stored and managed 
				in each use case.  The aim of this talk is to learn to classify what type of 
				data we're encrypting, and how we can assure keys are safe from attacks.  
				Code for this talk with be in C# however concepts can be applied to any 
				programming language.
			</p>
		</div>
	</div>
		<div id="pen_testing">
			<legend>Do We Still Need Pen Testing?</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#jeff_man">Jeff Man</a></li></ul>
			<p>"How to Give the Best Pen Test of Your Life" left me hanging. I wanted to ask questions, get 
				clarification, and most importantly suggest an alternative view of the purpose and goals of 
				pen testing. This presentation is a follow-on or rebuttal to that presentation. The goal is 
				to promote a conversation about pen testing that takes it to a higher level than ordinarily 
				considered. I review, based on Skoudis' presentation, the key components of the "perfect" 
				pen test, but take it farther to discuss the purpose, goals, and desired outcomes for pen 
				testing. I present my notion of an ideal pen test, what it could/should be, how I came to this 
				conclusion, and offer some direction for the future of pen testing.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="remember_esa">
			<legend>Does anyone remember Enterprise Security Architecture?</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#rockie_rockway">Rockie Brockway</a></li></ul>
			<p>The concept of Enterprise Security Architecture (ESA) is not new (Gartner 2006), 
				yet the numbers from the past several years’ worth of breach data indicates that 
				most organizations continue to approach security on a project by project basis 
				and/or from a compliance perspective. This talk will refresh the ESA concept and 
				communicate tangible and realistic steps any organization can take to align their 
				security processes, architecture and management to their business strategies, 
				reduce business risks and significantly improve their overarching security posture.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="building_ir">
			<legend>Building a Comprehensive Incident Management Program</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#owen_creger">Owen Creger</a></li></ul>
			<p>This presentation will introduce a framework to build a comprehensive incident 
				management program. The program is comprised of four foundational components; 
				planning, preparing, practicing, and measuring.  The framework has been designed 
				to be compliant with multiple standards, which include PCI, ISO, NIST, NERC, and HIPPA.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="running_away_from_sec">
			<legend>Running Away from Security: Web App Vulnerabilities and OSINT Collide</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#micah_hoffman">Micah Hoffman</a></li></ul>
			<p>An Open Source Intelligence (OSINT) look into the world of health and fitness-tracking sites.</p>
			<p>Lately it seems like more and more of our lives are being sucked into the computer 
				world. There are wrist-sensors for tracking our steps, phone apps that plot our 
				workouts on maps, and sites to share our healthy-eating and weight loss progress. 
				When people sign up for these sites, they usually use pseudonyms or the sites give 
				them a unique numbered ID to keep their information "private".
			</p>
 			<p>How hard would it be to connect a person's step-counting, diet history and other 
 				info on these health sites to their real lives? Are businesses using these sites 
 				for non-fitness purposes?
 			</p>
			<p>This talk will show weaknesses in several web applications used for health and 
				exercise tracking and reveal [spoiler alert] how trivial it is to find the real 
				people behind the "private" accounts.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="evil_empire">
			<legend>Evil Empire: SIEM FTW</legend>
			<ul>
				<li><strong>Speaker : </strong><a href="/schedule/bios#christopher_payne">Christopher Payne</a></li>
				<li><strong>Speaker : </strong><a href="/schedule/bios#doug_nibbelink">Doug Nibbelink</a></li>
			</ul>
			<p>Come witness the prognosticators of the SIEM as we travel through the mysterious 5 
				Ages of Logging and Security. We will reveal the (likely bleak) future of every 
				InfoSec pro’s fave topic, Log Review. Our holy mission is to make you think about 
				log review in a new light, discuss how to make it suck less, and to make you laugh 
				about things that would normally lead to sadness and cutting yourself.
			</p>
			<ul>The 5 Ages of Logging:
				<li><strong>Anarchistic</strong> - There were no logs, the IT world was a dark & chaotic place, which was pretty cool, albeit kinda scary.</li>
				<li><strong>Monolithic</strong> - There were logs, but no one cared/bothered to look at them. Life was good.</li>
				<li><strong>Realistic</strong> - There was log review, and it sucked, like really - a lot.</li>
				<li><strong>Craptastic</strong> - Miraculously SIEM was created, and it sucked too, but slightly less so.</li>
				<li><strong>Supercalifuturistic</strong> - There will be something 'better' and it will also suck. And you will pay too much for it from your favorite greedy vendor(s) because your CISO told you to get some of that stuff that is on the cover of &lt;Insert Garbage Industry Rag Here&gt; or he heard about at the IT Managers happy hour at the local sleaze joint... Why? Come to the talk…</li>
			</ul>
			<p>Live onstage Crotch Punch demo included. You will laugh at least once – or your money back! 
				Satisfaction Guaranteed except where noted, specifically Indiana
			</p>
		</div>
	</div>
	<div class="row">
		<div id="hacker_community_is_dead">
			<legend>The Hacker Community is Dead! Long Live the Hacker Community!</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#bruce_potter">Bruce Potter</a></li></ul>
			<p>The hacker community as we know it is dead. Gone are the days of massive 0-day dropping 
				at conferences, believing our handles keep us anonymous, and the free sharing of 
				information that was a core part of the hacker community. Now that cybersecurity 
				news stories are an above the fold topic and more researchers being bound by NDA’s, 
				employment agreements, and a sense of “responsible disclosure,” our community has 
				entered a new era.
			</p>
			<p>So what? Being grumpy about change is counter-productive. What is important, however, 
				is understanding what we’ve lost in the change and what characteristics of the old school 
				hacker community we should strive to keep as this evolution continues. Maintaining and 
				fostering free flows of information and public discourse while preventing outside entities 
				from co-opting and overregulating our work is critical to ensuring we can continue to 
				“hack all the things” and make the world a more secure place. This talk will examine 
				the last 20 years of hacker culture and draw out these important characteristics through 
				examples and case studies. The talk will also present tactical advice for the audience 
				on how to carry these ideas forward into the ever-evolving community around us.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="smuggling_plums">
			<legend>Smuggling Plums - Using Active Defnse techniques to hide your web apps from your attackers and their scanners</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#john_stauffacher">John Stauffacher</a></li></ul>
			<p>Its not everyday that you come across a LAMP machine that is running WordPress, 
				Joomla!, Drupal, and Sharepoint -- but I have one. This talk will walk through 
				simple things you can do to update your defense game. By altering the way our 
				application servers (or ADCs) respond to certain requests we can fool our attackers 
				and their scanners into thinking we are a totally different animal. We will dive 
				into the theory of decoy and how it plays into Active Defense. We will cover why 
				it may be beneficial to advertise to your adversary a totally different attack 
				surface. Watch as we demonstrate certain scanners go crazy when it looks like 
				the server has every CMS known to man, and its all vulnerable! By drawing your 
				attackers attention off of your real infrastructure, they are not only wasting 
				their time trying to attack a non vulnerable app -- but they won't be attacking 
				anyone else.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="moose_and_squirrel">
			<legend>"Stupid Pentester Tricks - OR - Great Sysadmin Tips!" - Done in style of Rocky and Bullwinkle</legend>
			<ul>
				<li><strong>Speaker : </strong><a href="/schedule/bios#alex_fernandez-gatti">Alex Fernandez-Gatti</a></li>
				<li><strong>Speaker : </strong><a href="/schedule/bios#matt_andreko">Matt Andreko</a></li>
				<li><strong>Speaker : </strong><a href="/schedule/bios#tom_mccarthy">Tom McCarthy</a></li>
			</ul>
			<p>A good pentester knows how to interact with most systems like a boss. A vast 
				majority of 'hacking' these days comes from misconfigurations, or giant 
				oopsies with the code. We will take you through some of the common pentesting 
				'tricks' that we use on a day to day basis that lead to massive win. This 
				talk will cover network, webapp, and physical/social pentesting and reveal 
				such tricks as RID cycling - username acquisition - auth attempts with each 
				username and the password of the season to get a valid account on the domain.  
				*Please note, there will not be any character impressions during this talk*
			</p>
		</div>
	</div>
	<div class="row">
		<div id="deploy_honeypots">
			<legend>Deploying Honeypots To Gather Actionable Threat Intelligence</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#james_taliento">James Taliento</a></li></ul>
			<p>Threat Intelligence seems to be all the rage.  There are tons of security 
				vendors selling threat intelligence and products to support data collection 
				and analysis, but what about localized actionable intelligence?  This 
				analysis will revisit the implementation of high-interaction honeypots 
				in a production setting and how (iff properly deployed) this data can be 
				used to respond to incoming threats as they arise.  This talk will discuss 
				the do’s and don’ts of integrating honeypots into your environment and how 
				to obtain critical (actionable) insight from honeypot activity using open source tools.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="clear_as_fud">
			<legend>Clear as FUD: A look at how confusing jargon and technology can create fear, uncertainty, and doubt</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#chris_maddalena">Chris Maddalena</a></li></ul>
			<p>Our technology is becoming easier to use and friendlier towards users who would 
				struggle to use a PC. This is a wonderful change that has opened up new 
				possibilities for them to learn, connect, and explore by making is simpler 
				for them to browse the web and use email and social media. The downside is 
				they don’t fully understand the technology and this makes them easy marks 
				for scammers. They see only half of the picture, gathered from news reports 
				and bite-sized explanations they've read or heard. This affects not only 
				regular people, but our lawmakers and politicians, too. This lack of understanding 
				has the potential to cause lasting harm by creating misinformation, negative 
				views of those who identify as hackers, and a fear of the internet.  We can 
				help by doing what we do every day: talking about it.
			</p>
			<p>We’ll discuss examples of how a lack of understanding has hurt different people 
				and groups, how we got to this point, and how we can do some little things that 
				will make a big difference.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="threat_hunters">
			<legend>Advanced Threat Hunting</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#benjamin_johnson">Benjamin Johnson</a></li></ul>
			<p>Keeping the bad guys out is a hard problem -- finding them once they’re can be 
				even harder.  The difficulty further increases when determined adversaries 
				gain valid credentials and immediately become insiders.  Once insiders, they 
				can add accounts, move laterally, hide in the noise, and accomplish their 
				goals by using built-in tools and executables.  To put it another way, 
				attackers are becoming “outsider-insiders”.  So how do you even begin to 
				start defending yourself against this, and how can you have some resiliency?  
				We’ll discuss the threat landscape, the trend of attackers “living off the land”, 
				and how you can start hunting these threats to reduce the scope of your incidents.  
				We’ll also explore some of their tactics, and some of the ways data and 
				relationships can help you more quickly and effectively detect and discover 
				these threats.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="superball">
			<legend>Actionable Threat Intelligence, ISIS, and the SuperBall</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#ian_amit">Ian Amit</a></li></ul>
			<p>When adding a new threat intelligence feed into your threat model and security 
				practice, one always has to ask: “what is the value?” Unfortunately, over the 
				past couple of years, organizations have struggled with showing true value 
				from standard threat intelligence feeds for several reasons, most of which 
				coincide with the fact that the feeds are too generic, and do not directly 
				relate to the operating environment of the organization. 
			</p>
			<p>In this talk, we will discuss how to create a customized, organization-specific 
				threat intelligence feed, that in turn will be used to actively increase the security 
				posture of the organization in a measurable way. Some of the examples we will address 
				include dealing with DDoS attacks & social media account takeovers and adjusting to 
				finding threats and threat actors in order to proactively tune defenses before an attack.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="yara">
			<legend>Operationalizing YARA</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#chad_robertson">Chad Robertson</a></li></ul>
			<p>A system within your network is confirmed to be infected with malware. How 
				can you go from detecting an infection to operationalizing indicators gleaned 
				from that infection across your environment? How can you use indicators from 
				OSINT to detect further compromise?  This talk will discuss various techniques 
				utilizing YARA to discover additional compromised hosts, identify similar 
				malicious binaries, and parse other mediums for indicators of compromise.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="se_attack_surface">
			<legend>Reducing Your Organization's Social Engineering Attack Surface</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#jen_fox">Jen Fox</a></li></ul>
			<p>This case study is a journey through the presenter's experience compromising 
				Fortune-50 companies at the DefCon 21 and 22 Social Engineering Capture the 
				Flag (SECTF) competition and other smaller targets on more recent consulting 
				engagements.  The DefCon SECTF participants competed to gather openly available 
				information on their corporate targets both on the Internet and over the phone.  
				Some companies put up better defenses than others.
			</p>
			<p>Social engineering remains a threat to companies of all sizes and industries. 
				Verizon’s 2013 Data Breach Investigations Report cites that 29% of breaches 
				investigated had a social engineering component. Social engineers manipulate 
				human beings to get them to reveal information or take a particular action, 
				such as clicking a malicious link. Information gained via social engineering 
				is then used to gain access to information systems or sensitive data. 
			</p>
			<p>Attendees will learn the factors that contributed to the presenter's success 
				and how simple changes could have frustrated her intelligence gathering 
				operations. Session participants will also learn how to detect social 
				engineering attacks and react to them appropriately. And yes, there will 
				be pwnage.
			</p>
			<ul>Takeaways:
				<li>Understanding of the social engineering process</li>
				<li>Actionable tips that can be used in any company</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div id="evernote_timp">
			<legend>Using Evernote as an Threat Intelligence Management Platform</legend>
			<ul><li><strong>Speaker : </strong><a href="/schedule/bios#le_grecs">Le Grecs</a></li></ul>
			<p>Most people are already familiar with Evernote. It’s easy to just throw 
				all our miscellaneous data into the Elephant and effortlessly find it 
				later with a quick search or correlate similar ideas with tags. Evernote 
				is literally our external brain that increases our intelligence and helps 
				us become more productive overall. This presentation discusses an 
				experiment of using Evernote as an informal threat intelligence management 
				platform, the specific concepts and strategies used, and its overall 
				effectiveness. Although using Evernote in this way in large enterprises 
				is probably not possible, the same lessons learned can be applied to 
				implement a similarly effective system using open source or 
				commercial software.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="sec_vs_priv">
			<legend>An Inconvenient Truth: Security Monitoring vs. Privacy in the Workplace</legend>
			<ul>
				<li><strong>Speaker : </strong><a href="/schedule/bios#awa_ka">Awa Ka</a></li>
				<li><strong>Speaker : </strong><a href="/schedule/bios#ana_orozco">Ana Orozco</a></li>
			</ul>
			<p>Surveillance technologies have been in use in our society since the late 
				18th century. The rise of the Internet and the rapidly-decreasing cost of 
				long-term data storage have intrinsically changed how we view and respect 
				the concept of privacy in the workplace, especially within the context of 
				responding to new vulnerabilities and threats, which we often improperly 
				label as more important. Without proper addressing, the monitoring of 
				employees might be source of many issues in the workplace. We find that 
				as we refine these technologies they become closer to our personal life 
				and space than we have ever experienced before. In this talk, we will 
				explore how traditional privacy norms and legal statutes have not yet 
				caught up to the changing pace of security monitoring in the workplace; 
				how we are losing the choice, liberty and control over what others can see 
				of us; what we want to share; and what of our information is retained 
				and how it benefits the organizations that are supposed to protect us 
				when things go wrong.
			</p>
		</div>
	</div>
</div>
</div>
</div>
{% endblock %}
