{% extends "layout.html" %}

{% block inner_content %}
<div class="container-fluid">
<div class="row-fluid">
<div class="span3">
	<ul class="nav nav-list">
		<li class="nav-header">Talks</li>
		<li><a href="#wireless_id_rpi">Wireless Intrusion Detection System with Raspberry Pi</a></li>
		<li><a href="#digital_supply_chain">Digital Supply Chain Security: The Exposed Flank</a></li>
		<li><a href="#parking_lot_to_pwn">From Parking Lot to Pwnage - Hack-free Network Pwnage</a></li>
		<li><a href="#plaguescanner">PlagueScanner: An Open Source Multiple AV Scanner Framework</a></li>
		<li><a href="#risk_assessment_phd">Turn Your Head And Cough: Why Architecture Risk Assessments Are Like Being A General Physician</a></li>
		<li><a href="#dlp_where_to_start">Data Loss Prevention: Where do I start?</a></li>
		<li><a href="#intro_to_csrf">Surfing the Sea and Drowning in Tabs: An Introduction to Cross-Site Request Forgery/a></li>
		<li><a href="#clean_computing">Clean Computing: Changing Cultural Perceptions</a></li>
		<li><a href="#amateur_radio">I Amateur Radio (And So Can You)</a></li>
		<li><a href="#lessons_learned_security_programs">Lessons Learned from Implementing Software Security Programs</a></li>
		<li><a href="#hacking_iis">Hacking IIS and .NET</a></li>
		<li><a href="#departmentalizing_secops">Departmentalizing Your SecOps</a></li>
		<li><a href="#obama_cyber">OBAMAS CYBER SECURITY PLAN DISSECTED</a></li>
	</ul>
</div>
<div class="span8 offset1">
	<div class="row">
		<div id="wireless_id_rpi">
			<legend>Wireless Intrusion Detection System with Raspberry Pi</legend>
			<p><strong>Speaker : </strong><a href="/schedule/bios#chris_jenks">Chris Jenks</a></p>
			<p>This talk covers a distributed Wireless Intrusion Detection System using multiple 
				Raspberry Pi boards. While there are more polished solutions on there, this solution 
				works as a good proof of concept, or in house solution for small to medium businesses.
			</p>
			<p>This talk covers why scanning is needed, cost comparisons, a quick overview of setting 
				up the Raspberry Pi, and the problems I've seen and had to adjust for since the original 
				Proof of Concept.  With luck and time permitting, we'll have a small version set up in 
				the room, and we can show how the system works in real time.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="digital_supply_chain">
			<legend>Digital Supply Chain Security: The Exposed Flank</legend>
			<p><strong>Speaker : </strong><a href="/schedule/bios#dave_lewis">Dave Lewis</a></p>
			<p>This talk will speak to the issues pertaining to supply chain security as is 
				relates to global organizations and the highly interconnected nature of suppliers 
				and corporations. I will pull from personal war stories to help illustrate the 
				need to not just worry about the main corporate security perimeter but to address 
				the extended perimeter and they exposures and risks that arise from the supply chain. 
				Some of the aspects of an exposed supply chain that I will address are trading partner 
				networks, code developed by off shore development centres and outsourced help desks. 
				All of the aforementioned have access into the enterprise environment and do not always 
				have the requisite controls in place to monitor and control their level of access.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="parking_lot_to_pwn">
			<legend>From Parking Lot to Pwnage - Hack-free Network Pwnage</legend>
			<p><strong>Speaker : </strong><a href="/schedule/bios#brent_white">Brent White</a></p>
			<p>Pretending to be an employee is one thing, but owning layers of identities is what 
				leads to owning the data center. In this presentation you will listen to real 
				world scenarios that led to armed guards opening the server room for the 
				"employee" to Secretaries handing over an Executive's laptop. All of this and 
				more, from parking lot to pwnage.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="plaguescanner">
			<legend>PlagueScanner: An Open Source Multiple AV Scanner Framework</legend>
			<p><strong>Speaker ; </strong><a href="/schedule/bios#robert_simmons">Robert Simmons</a></p>
			<p>PlagueScanner is an open source framework for organizing any number of AV scanners 
				into one contiguous tool chain. It leverages high speed message queuing along with 
				JSON report output for easy integration into an automated malware analysis lab. 
				An optional ElasticSearch output plugin lets you keep historical data for future 
				searching and further analysis.
			</p>
			<p>This project solves the problem of what to do with a sensitive malicious file that 
				you wish to have multiple AV scanner results for, but you are wary about uploading 
				the file to a public site, and you don't want to pay the hefty price for a 
				commercial scanner bank.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="risk_assessment_phd">
			<legend>Turn Your Head And Cough: Why Architecture Risk Assessments Are Like Being A General Physician</legend>
			<p><strong>Speaker : </strong><a href="/schedule/bios#nathaniel_husted">Nathaniel Husted</a></p>
			<p>While vulnerability assessments and penetration tests are all the rage for the modern 
				information security professional, security architecture assessments are just as 
				important. In fact, they are just as important as seeing your doctor about a yearly 
				physical. This talk discusses the general process for security architecture reviews 
				and how that process leaves the reviewer acting like a general physician. We will use 
				this metaphore to shed light on the benefits and drawbacks of the security architecture 
				review process and how we might improve outcomes from the process.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="dlp_where_to_start">
			<legend>Data Loss Prevention: Where do I start?</legend>
			<p><strong>Speaker : </strong><a href="/schedule/bios#jason_samide">Jason Samide</a></p>
			<p>Companies want Data Loss Prevention.  However, most are unsure what DLP is and how to 
				implement a proper program.  Where to start and who are the stakeholders is key to any 
				successful program.  Typically, companies roll out DLP and are unsure if it successful 
				and does it adhere to the business and technical requirements set out from the beginning.  
				With the right approach and a detailed plan, Data Loss Prevention can be implemented 
				successfully and the organization can benefit from the technology.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="intro_to_csrf">
			<legend>Surfing the Sea and Drowning in Tabs: An Introduction to Cross-Site Request Forgery</legend>
			<p><strong>Speaker : </strong><a href="/schedule/bios#barry_schatz">Barry Schatz</a></p>
			<p>With more web applications using persistent logins and users keeping more applications 
				open in browser tabs, Cross-Site Request Forgery (CSRF) is an attractive vulnerability 
				for malicious actors to exploit. CSRF is one of the OWASP Top 10, and rightfully so. 
				This talk will describe the vulnerability, show some examples (maybe demonstrate it, 
				demo gods willing), and then show a few techniques to prevent and mitigate abuse.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="clean_computing">
			<legend>Clean Computing: Changing Cultural Perceptions</legend>
			<p><strong>Speaker : </strong><a href="/schedule/bios#emily_peed">Emily Peed</a></p>
			<p>Computing's environmental impact as it continues to globalize will gain in 
				awareness as the disproportional resources that go into it, the harsh chemicals 
				and processes that produce it, and the e-waste management and recycling issues 
				come more often to light. 
			</p>
			<p>Clean Computing is the push to make computing more biodegradable, renewable, and 
				eco-friendly. The ability of technology to start become more life-like could 
				herald in transformations in our more elusive fields. Robotics, the biomedical 
				industry, space exploration, and numerous fields within computing could benefit 
				from a shift in focus.
			</p>
			<p>Clean Computing can influence the acceptance of green technologies and policies due 
				to its inherently integral use in our daily lives. It can be the new breath of life 
				hat the green movement has been needing to gain momentum.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="wireshark">
			<legend>Wireshark like a Boss</legend>
			<p><strong>Speaker : </strong><a href="/schedule/bios#sam_wojdziak">Sam Wojdziak</a></p>
			<ul>Training Schedule
				<li>TBD</li>
			</ul>
			<p>Hands on course teaching techniques of traffic analysis with Wireshark, 
				the most-used, open-source network protocol analyzer. During the class 
				students are asked to investigate traffic samples leading to developing 
				skills critical for hunting for malicious activities, researching applications, 
				debugging protocol implementations or troubleshooting anomalies in complex 
				network environments. There will be tons to learn here for beginner AND 
				intermediate users, but even the experts may find some helpful new information 
				to help streamline their investigations.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="amateur_radio">
			<legend>I Amateur Radio (And So Can You)</legend>
			<p><strong>Speaker : </strong><a href="/schedule/bios#kat_sweet">Kat Sweet</a></p>
			<p>Ham radio: it's the 100 year-old technology that refuses to die. Whether you're a 
				wireless enthusiast, electronics tinkerer, or just someone who wants to be able 
				to communicate during the zombie apocalypse, having a ham radio license can open 
				a new world of possibilities for any hacker. Come learn how and where to get your 
				license, what you can expect to study, how you can work radio into your everyday 
				hacking, and anything else you ever wanted to know about ham radio but were 
				afraid to ask.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="lessons_learned_security_programs">
			<legend>Lessons Learned from Implementing Software Security Programs</legend>
			<p><strong>Speaker : </strong><a href="/schedule/bios#todd_grotenhuis">Todd Grotenhuis</a></p>
			<p>A common approach to securing software is to try to break software after it has 
				already been made available to the customer or to the public (or, in 
				slightly-more-proactive environments, doing software security testing just prior 
				to code release). While this type of validation is important, it is incomplete 
				and inefficient as a lone software security control.
			</p>
			<p>To make significant and sustainable changes to the security of software, we need 
				to push left in the development lifecycle, incorporating activities like Security 
				Training, Threat Modeling, Secure Engineering, and SDLC-Integrated Security Analysis.
			</p>
			<p>In this talk, I will share lessons-learned from implementing these types of programs 
				at small and large enterprises. What kind of ground work do you need to do? How do you 
				work with developers who aren't already trained in security? What types of questions 
				should you be asking when selecting tools and processes? How can automation and metrics 
				serve you? What are some of the major pitfalls and concerns? How do you make sure there 
				is strong adoption of the security process enhancements?
			</p>
			<p>We'll talk about these questions and more, as we look at how to enhance software 
				security programs.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="hacking_iis">
			<legend>Hacking IIS and .NET</legend>
			<p><strong>Speaker : </strong><a href="/schedule/bios#kevin_miller">Kevin Miller</a></p>
			<p>Even in the most secure Windows environments the communication between development 
				and infrastructure causes issues to slip through the cracks and holes to open on 
				machines.  Hopefully, a windows machine running IIS is hardened, but often the 
				misconfiguration of accounts and poorly written .NET code allows attackers to gain 
				information thought to be inaccessible.  Once someone gains access to a machine, 
				there are a number of places to look for credentials and alter programs which either 
				allows access to other machines connected to it or change data processed by applications 
				written by the organization.  
			</p>
			<p>Most organizations don't even know these holes exist, because they don't know where 
				and how they are stored both in the server and applications.  Changing registry 
				settings to help with application health, switching account types systems run 
				under, and aggressively validating data passing through parts of an application 
				are all necessary for securing a system beyond the recommended processes.  Even 
				with all of this, systems which don't re-validate inputs from "trusted tiers" are 
				vulnerable, and any code which places unchecked business rules on exposed machines 
				run the risk of being hijacked and subverted to an attackers benefit.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="departmentalizing_secops">
			<legend>Departmentalizing Your SecOps</legend>
			<p><strong>Speaker : </strong><a href="/schedule/bios#tom_gorup">Tom Gorup</a></p>
			<p>Security Operations Centers tend to encompass a 'Jack of all trades, Master 
				none' type of setup. Security Analysts are required to learn different skills 
				and procedures on-the-fly to meet  expectations from other teams throughout the 
				organization. This results in SOC's over promising and under delivering when the 
				rubber meets the road. Security Operations needs to be broken out similarly to 
				that of traditional IT teams. With each team encompassing different level of 
				analysts specializing in skills and technologies. 
			</p>
			<p>During this presentation I will be discussing current team (SOC and IT) layouts, 
				why it's not working, and how Security Operations should be broken out. This 
				presentation will also touch on ensuring teams also maintain the true Purple 
				Team concept (mesh of blue team and red team players). Security teams are spread 
				too thin within the organization and a shift must occur to ensure security is 
				properly delivered.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="obama_cyber">
			<legend>OBAMAS CYBER SECURITY PLAN DISSECTED</legend>
			<p><strong>Speaker : </strong><a href="/schedule/bios#jonathan_thompson">Jonathan Thompson</a></p>
			<p>President Obama released his legislative updates to existing law in the WH's 
				effort to improve the state of cyber security. His efforts are lauded by many, 
				yet in infosec, they have been regarded as leading to "an information security 
				armageddon" and an end of days for our profession. In this collaborative 
				work-session, we will examine the components of the proposed legislation, evaluate 
				case law, and identify key opportunities for improvement. These results will be 
				aggregated and shared with the White House and leadership in Congress.
			</p>
		</div>
	</div>
</div>
</div>
</div>
{% endblock %}