{% extends "layout.html" %}

{% block inner_content %}
<div class="container-fluid">
<div class="row-fluid">
<div class="span3">
	<ul class="nav nav-list">
		<li class="nav-header">Training</li>
		<li><a href="#e_textiles">Introduction to E-textiles</a></li>
		<li><a href="#ir_program">Building an Incident Response Program</a></li>
		<li><a href="#smb_security">Small and Medium Business Security: The First Steps</a></li>
		<li><a href="#hacking_webapps">Break it before you buy it - Hacking and fixing web applications</a></li>
		<li><a href="#lock_picking_101">Intro to Lock Picking</a></li>
		<li><a href="#threat_intel">Introduction to Threat Intelligence</a></li>
		<li><a href="#social_engineering">Social Engineering 101</a></li>
		<li><a href="#intro_ctf">Introduction to CTF Challenges</a></li>
		<li><a href="#linux_hardening">Lock down Linux: A workshop on hardening Linux</a></li>
		<li><a href="#wireshark">Wireshark like a Boss</a></li>
		<li><a href="#infosec_gig">Your Own Worst Enemy: Landing your First InfoSec Gig Despite Yourself</a></li>
		<li><a href="#hardening_linux">Lock down Linux: A workshop on hardening Linux</a></li>
		<li><a href="#power_of_pi">The Power of Pi</a></li>
		<li><a href="#audit_android">Security Auditing Android Apps</a></li>
		<li><a href="#tuning_snort">Tuning Snort, A crash course in Optimizing Snort</a></li>
		<li><a href="#leading_leaders">Leading Leaders + Dodging Dysfunction (Now with MORE Legos)</a></li>
		<li><a href="#better_living_through_chem">Better living through chemistry</a></li>
		<li><a href="#dfir_101">DFIR 101</a></li>
		<li><a href="#pwnpad">Building Your Own PwnPad</a></li>
		<li><a href="#reg">How to register?</a></li>
	</ul>
</div>
<div class="span8 offset1">
	<div class="row">
		<div id="e_textiles">
			<legend>Introduction to E-textiles</legend>
			<ul><li><strong>Trainer : </strong><a href="/schedule/bios#babs0matic">Babs0matic</a></li></ul>
			<p>The class will cover different types of e-textiles, basic circuits and a 
				beginner level project. Participants will receive an Aniomagic Sparkle Kit,
				which will be used to learn how to sew circuits into fabric.  No previous
				sewing experience is necessary.
			</p>
			<p>Sparkle is an avant-garde way to make interactive textiles, paper, ceramics, 
				and environments. Change the way it works directly from a web browser by 
				holding it in front of a computer screen or smartphone. Participants will 
				need no programming experience to program the sparkle board. We strongly 
				recommend bringing your own Mac/Linux/Windows laptop will allow you more 
				time to change the programming. Scraps of fabric will be available to use 
				during the class; however, it is recommended that participants bring an item 
				that they would like to use for their project (ex. shirt, hat, bag).
			</p>
			<p>Here is a link to some examples of how others have created with the Aniomagic 
				kits <a href="http://www.aniomagic.com/gallery/" target="_blank">http://www.aniomagic.com/gallery/</a>
			</p>
			<p>There will be a charge of approximately $25 for the Aniomagic Sparkle Kits 
				that will be paid at the time of registration.  You may also acquire and 
				bring your own Aniomagic Sparkle Kit.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="ir_program">
			<legend>Building an Incident Response Program</legend>
			<ul><li><strong>Trainer : </strong><a href="/schedule/bios#lesley_carhart">Lesley Carhart</a></li></ul>
			<p>2013 and 2014 taught us that any organization can be targeted by hackers, 
				regardless of size or function. We all have to plan for security incidents 
				from ransomware to defacement, hacktivism to nation state actors. You’ve set 
				up security devices and built a monitoring program, but you still aren’t certain 
				what to do if a crisis hits. This course will cover the basics of building incident 
				response skills and an incident response program for organizations with 20-20,000 
				employees. Even if you can’t dedicate an employee to incident response, you can 
				still prepare for a security incident.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="smb_security">
			<legend>Small and Medium Business Security: The First Steps</legend>
			<ul><li><strong>Trainer : </strong><a href="/schedule/bios#mark_kikta">Mark Kikta</a></li></ul>
			<p>So you know you need security but you can't afford to shell out the money to 
				IBM/HP/$SecurityVendor for the latest and greatest blinky box. Alienvault is a 
				free SIEM/IDS/Netflow solution that can help you increase your security posture 
				without increasing your CAP/OPEX. We will cover scoping, deployment, configuration, 
				analysis, and response using the free version of Alienvault.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="hacking_webapps">
			<legend>Break it before you buy it - Hacking and fixing web applications</legend>
			<ul><li><strong>Trainer ; </strong><a href="/schedule/bios#bill_sempf">Bill Sempf</a></li></ul>
			<p>As developers, we focus on the utility and usability of the systems we build, 
				as we should. There is another consideration, though, and that is the criminal 
				element and its access to our systems. The most utile and usable system is 
				dangerous to deploy without appropriate security controls in place. In this 
				four hour bootcamp, you’ll get a look at the security principles that will keep 
				your applications more secure and learn to test for specific vulnerabilities. 
				The session will cover Authentication and Content Management, Injection 
				Vulnerabilities, Cracking and Fixing REST APIs, and Information Disclosure. 
				This is a hands on session, so make sure to download Samurai WTF for excercises.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="lock_pocking_101">
			<legend>Intro to Lock Picking</legend>
			<ul><li><strong>Trainer : </strong><a href="/schedule/bios#irongeek">Adrian Crenshaw</a></li></ul>
			<p>This class offers an introduction to lock picking for the penetration tester.  
				Students will learn about the art of locksport and receive plenty of hands on 
				instruction on basic lock picking.  Materials will be provided for use in class.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="threat_intel">
			<legend>Introduction to Threat Intelligence</legend>
			<ul><li><strong>Trainer : </strong><a href="/schedule/bios#edward_mccabe">Edward McCabe</a></li></ul>
			<p>“Threat Intelligence” is more than a vendor buzzword. Lists of IP Addresses and 
				Domain Names deemed “bad” are not Threat Intelligence. Threat Intelligence is becoming 
				a serious business need for organizations looking to reduce their risk profile by 
				getting out in front of threats and limit impact. This course is special for CircleCityCon, 
				it is a high-level, introductory overview of what Threat Intelligence Management Programs 
				are and the intent of such programs. We will walk through the Open Source Intelligence 
				ecosystem, Signal Intelligence collection, management and analysis efforts, Threat 
				Intelligence Management, business and technical requirements of Threat Intelligence 
				Programs, supporting business processes, and the operationalization of analysis efforts. 
				This course is aimed at understanding how to leverage information from attacks occurring 
				around the Internet, how those trends can be collected, aggregated, analyzed and more 
				importantly “how to keep yourself from winding up on the Krebs’ list."
			</p>
		</div>
	</div>
	<div class="row">
		<div id="social_engineering">
			<legend>Social Engineering 101</legend>
			<ul><li><strong>Trainer : </strong><a href="/schedule/bios#stephanie_carruthers">Stephanie Carruthers</a></li></ul>
			<p>In this four hour course will cover the fundamentals required for social engineering.  
				Training will be broken up into the following four categories: information gathering, 
				pretext building, elicitation techniques, and how to read body language.
			</p>
			<p>While it is not required, if you would like to following along with the OSINT section 
				of the course, please bring a laptop running Kali on the machine itself or through a 
				VM (https://www.kali.org/).  Interactive assignments will be given during the course, 
				including a SE challenge that will continue throughout the con.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="intro_ctf">
			<legend>Introduction to CTF Challenges</legend>
			<ul><li><strong>Trainer : </strong><a href="/schedule/bios#jayson_brown">Jayson Brown</a></li></ul>
			<p>This 8 hour course is for people of all skill levels, with extra emphasis on the 
				basics; great for beginners. Course will cover the basics of computer networks, 
				social engineering, and offensive hacking. Participants will have a chance to test 
				their newly honed skills by attacking a complete virtual business called Corp Co.
			</p>
			<ul><strong>Required Equipment</strong>
				<li>Modern Laptop with virtual compute capabilities (Intel I3/I5/I7 for example)</li>
				<li>WiFi adapter with support for monitor mode and packet injection (Alfa)</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div id="intelligence_analysis">
			<legend>Intelligence Analysis by Design</legend>
			<ul><li><strong>Trainer : </strong><a href="/schedule/bios#steven_fox">Steven Fox</a></li></ul>
			<p>Organizations derive value from competitive intelligence that addresses their 
				strategic and tactical goals.  Successful intelligence campaigns combine 
				conventional techniques with design-centered principles to achieve this goal.  
				Workshop attendees will learn how to: 
			</p>
			<ol>
				<li>apply design principles throughout the intelligence lifecycle</li>
				<li>recognize and account for cognitive bias</li>
				<li>derive actionable intelligence consumable by their customers.</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div id="wireshark">
			<legend>Wireshark like a Boss</legend>
			<ul><li><strong>Trainer : </strong><a href="/schedule/bios#sam_wojdziak">Sam Wojdziak</a></li></ul>
			<p>Hands on course teaching techniques of traffic analysis with Wireshark, 
				the most-used, open-source network protocol analyzer. During the class 
				students are asked to investigate traffic samples leading to developing 
				skills critical for hunting for malicious activities, researching applications, 
				debugging protocol implementations or troubleshooting anomalies in complex 
				network environments. There will be tons to learn here for beginner AND 
				intermediate users, but even the experts may find some helpful new information 
				to help streamline their investigations.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="infosec_gig">
			<legend>Your Own Worst Enemy: Landing your First InfoSec Gig Despite Yourself</legend>
			<ul><li><strong>Trainer : </strong><a href="/schedule/bios#johnnyxmas">J0hnnyXm4s</a></li></ul>
			<p>Following close on the heels of last year's incredibly successful 
				"Attack Paths: How to Get a Job in Infosec" talk, this instructional 
				session discusses the specifics behind building up skills and social 
				inventory necessary to effectively get an entry-level InfoSec role even 
				though you may not have all of the requirements.  The seminar will be 
				presented in 3 parts: Building hard skills that are applicable to the 
				Enterprise world to get your foot in the door and land that first interview, 
				building soft social skills to create and fan relationships you can 
				leverage to future benefit, and finally a section on proper resume building 
				geared primarily towards IT & InfoSec. Remember: whether you think you 
				can, or you think you can't, you're right. 
			</p>
		</div>
	</div>
	<div class="row">
		<div id="hardening_linux">
			<legend>Lock down Linux: A workshop on hardening Linux</legend>
			<ul>
				<li><strong>Trainer : </strong><a href="/schedule/bios#parker_schmitt">Parker Schmitt</a></li>
				<li><strong>Trainer : </strong><a href="/schedule/bios#matthew_thode">Matthew Thode</a></li>
			</ul>
			<p>Do you disable SELinux? After this training you won't have to or want to. We plan 
				on going through methods on hardening linux servers (and desktops too). We plan on 
				going beyond patches because, if you're a high valued target, you will see 0days. 
				We will show you how to configure SELinux, GRSecurity, and PaX. We will then talk 
				about the network layer and mitigate post-exploitation 
			</p>
		</div>
	</div>
	<div class="row">
		<div id="power_of_pi">
			<legend>The Power of Pi </legend>
			<ul>
				<li><strong>Trainer : </strong><a href="/schedule/bios#jeff_weaver">Jeff Weaver</a></li>
				<li><strong>Trainer : </strong><a href="/schedule/bios#sunil_peddakotla">Sunil Peddakotla</a></li>
			</ul>
			<p>Want to learn about a low cost low energy consumption platform for pen testing, 
				recon, and threat analytics? The Raspberry Pi is a compact mini ARM processing 
				environment which supports a number of Linux distributions; allows connectivity 
				to numerous peripheral devices; and is small enough that it can be placed 
				anywhere. This workshop will tell you more about the Raspberry Pi, how to 
				use it, and why it can be so attractive to keen security minds. Additionally 
				the talk will also focus on troubleshooting common issues that arise during 
				the operating system install, hardware device connectivity, and general use. 
			</p>
		</div>
	</div>
	<div class="row">
		<div id="audit_android">
			<legend>Security Auditing Android Apps</legend>
			<ul><li><strong>Trainer : </strong><a href="/schedule/bios#sam_bowne">Sam Bowne</a></li></ul>
			<p>Android apps are very insecure—-80% of the ones I’ve tested have 
				serious vulnerabilities. It’s simple to test for common 
				vulnerabilities with a few free tools: Android Studio, Genymotion, 
				Burp, and apktool. 
			</p>
			<p>Students must bring laptops. Macs work best, but PCs can also be 
				used. Linux works better than Windows. Students will set up their 
				laptops, find vulnerabilities in real apps, and exploit them. 
			</p>
			<p>We will test for insecure network transmission, insecure local 
				storage, and insecure logging. But the most common problem is failure 
				to verify app signatures, so that apps can be modified and Trojan code 
				can be added. Students will do that to a real financial app, creating 
				a proof-of-concept that leaks out private data such as username and 
				password. 
			</p>
		</div>
	</div>
	<div class="row">
		<div id="tuning_snort">
			<legend>Tuning Snort, A crash course in Optimizing Snort</legend>
			<ul>
				<li><strong>Trainer : </strong><a href="/schedule/bios#da_667">DA_667</a></li>
				<li><strong>Trainer : </strong><a href="/schedule/bios#forgottensec">ForgottenSec</a></li>
			</ul>
			<p>Many InfoSec professionals have Snort and other IDS/IPS in their 
				environment, but too many are under tuned, mistuned and screwed up to 
				the point where they provide little to no value. This training is a 
				crash course in how Snort works under the hood and how to tune it 
				properly to make it efficient and more value. We will work through the 
				config files of snort and how to make the engine and its rules run 
				efficiently. 
			</p>
		</div>
	</div>
	<div class="row">
		<div id="leading_leaders">
			<legend>Leading Leaders + Dodging Dysfunction (Now with MORE Legos)</legend>
			<ul><li><strong>Trainer : </strong><a href="/schedule/bios#mzbat">Bat</a></li></ul>
			<p>Sometimes people need a little help with social skills in a professional 
				environment. This is a workshop focused on the many challenges facing really 
				smart people who have to work with other really smart people. Through group 
				discussion and playing nicely with others, participants learn a little about 
				themselves, their peers and (hopefully) their leaders. When this knowledge is 
				applied in the workplace, participants may find others more willing to accept 
				suggestions and constructive feedback. Yes, there will be Legos. No, you don’t 
				get to keep them.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="intro_ham_101">
			<legend>Intro to Ham Radio 101</legend>
			<ul><li><strong>Trainer : </strong><a href="/schedule/bios#justin_herman">Justin Herman</a></li></ul>
			<p>An abstract for your Training (200 words or less): Explore the path of some 
				of the original hackers and makers in the world of amateur radio. In this 
				class we will learn what it takes to get your FCC Technician License and 
				get you prepared to get on the air. We will cover The FCC Element 2 Technician 
				class test pool and cover theory behind the exam. Hands on activities and 
				lecture will be used and attendees may need to add additional study time 
				to be fully prepared for the test.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="better_living_through_chem">
			<legend>Better living through chemistry</legend>
			<ul><li><strong>Trainer : </strong><a href="/schedule/bios#jack_daniel">Jack Daniel</a></li></ul>
			<p>Better living through chemistry: a hacker's guide to home bartending.
				This class is an introduction to making drinks, and making drinks
				better.  The course will begin with a cocktail history, followed by
				review of several relevant books, and then move into a discussion of
				ingredients- including bitters, liquors, sweeteners, juices and syrup.
				Tools and glassware will be covered, what you need to start, and what
				you don't need.  The class will close with making some classic
				cocktails and a few variants on the classics.
			</p>
			<p>There will be a charge for this class to cover the cost of alcohol.  You must be 21 to take the class.</p>
		</div>
	</div>
	<div class="row">
		<div id="dfir_101">
			<legend>DFIR 101</legend>
			<ul>
				<li><strong>Trainer : </strong><a href="/schedule/bios#jordanrog">Jordan Rogers</a></li>
				<li><strong>Trainer : </strong><a href="/schedule/bios#brad_ammerman">Brad Ammerman</a></li>
			</ul>
			<p>This class provides a hands-on introduction to digital forensics, incident response, and malware 
				analysis for information security and IT professionals. We'll walk through the process of responding 
				to an incident from start to finish:
			</p>
			<ul>
				<li>Hour 1: Identifying a breach, establishing chain of custody, interviewing, acquiring memory 
					and data, determining admissibility of information</li>
				<li>Hour 2: Acquisition and admissibility (continued), preliminary stages of malware analysis</li>
				<li>Hours 3-4: Malware analysis</li>
			</ul>
			<p>After class, participants will receive real malware samples, and the instructors will be 
				available for further assistance.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="pwnpad">
			<legend>Build Your Own PwnPad</legend>
			<ul>
				<li><strong>Trainer : </strong><a href="/schedule/bios#rick_farina">Rick Farina</a></li>
			</ul>
			<p>A special treat for Circle City Con attendees! A new hardware release 
				will be debuted at Circle City Con! Build a brand new Pwn Pad 3! 
			</p>
			<ul><strong>Hardware requirements:</strong>
				<li><a href="http://shield.nvidia.com/tablet">Nvidia Shield Tablet</a></li>
				<li><a href="https://www.pwnieexpress.com/product/tp-link-tl-wn722n-usb-adapter/">TP-Link tl-wn722n wifi adapter</a></li>
				<li><a href="http://www.amazon.com/dp/B006DQIMPK/ref=pe_385040_128020140_TE_3p_dp_1">Standard OTG cable</a></li>
			</ul>
			<ul><strong>Suggested hardware:</strong>
				<li><a href="https://www.pwnieexpress.com/product/sena-ud100-industrial-bluetooth-usb-adapter/">Sena UD100 bluetooth adapter</a></li> 
				<li><a href="https://www.pwnieexpress.com/product/usb-to-ethernet-adapter/">Trendnet TU2-et100</a></li> 
			</ul>
			<p>Hardware does not need to be bought from Pwnie Express, however, the 
				only models officially supported are the ones listed in this list, so 
				please ensure your model number matches if purchased elsewhere. 
			</p>
			<p>Additionally, we will attempt to support anyone who has an older model 
				device for this class, including and limited to any Nexus 7 model, and 
				the Nexus 5 phone.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="reg">
			<legend>How can I register for training?</legend>
			<p>Training registration is attached to the ticket that you have purchased.
				Due to this of this, training registration is done as part of the ticket
				pickup process.  To register for training, simply click the link you received
				when you purchased your CircleCityCon ticket and then click the training button
				next to your ticket ID.
			</p>
		</div>
	</div>
</div>
</div>
</div>
{% endblock %}
