{% extends "layout.html" %}

{% block inner_content %}
<div class="container-fluid">
<div class="row-fluid">
<div class="span3">
	<ul class="nav nav-list">
		<li class="nav-header">Training</li>
		<li><a href="#e_textiles">Introduction to E-textiles</a></li>
		<li><a href="#ir_program">Building an Incident Response Program</a></li>
		<li><a href="#smb_security">Small and Medium Business Security: The First Steps</a></li>
		<li><a href="#hacking_webapps">Break it before you buy it - Hacking and fixing web applications</a></li>
		<li><a href="#lock_picking_101">Intro to Lock Picking</a></li>
		<li><a href="#threat_intel">Introduction to Threat Intelligence</a></li>
		<li><a href="#social_engineering">Social Engineering 101</a></li>
		<li><a href="#intro_ctf">Introduction to CTF Challenges</a></li>
		<li><a href="#cft">Call for Training</a></li>
	</ul>
</div>
<div class="span8 offset1">
	<div class="row">
		<div id="e_textiles">
			<legend>Introduction to E-textiles</legend>
			<p><strong>Trainer : </strong><a href="/schedule/bios#babs0matic">Babs0matic</a></p>
			<ul>Class Schedule
				<li>TBD</li>
			</ul>
			<p>The class will cover different types of e-textiles, basic circuits and a 
				beginner level project. Participants will receive an Aniomagic Sparkle Kit,
				which will be used to learn how to sew circuits into fabric.  No previous
				sewing experience is necessary.
			</p>
			<p>Sparkle is an avant-garde way to make interactive textiles, paper, ceramics, 
				and environments. Change the way it works directly from a web browser by 
				holding it in front of a computer screen or smartphone. Participants will 
				need no programming experience to program the sparkle board. We strongly 
				recommend bringing your own Mac/Linux/Windows laptop will allow you more 
				time to change the programming. Scraps of fabric will be available to use 
				during the class; however, it is recommended that participants bring an item 
				that they would like to use for their project (ex. shirt, hat, bag).
			</p>
			<p>Here is a link to some examples of how others have created with the Aniomagic 
				kits <a href="http://www.aniomagic.com/gallery/" target="_blank">http://www.aniomagic.com/gallery/</a>
			</p>
			<p>There will be a charge of approximately $30 for the Aniomagic Sparkle Kits 
				that will be paid at the time of registration.  You may also acquire and 
				bring your own Aniomagic Sparkle Kit.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="ir_program">
			<legend>Building an Incident Response Program</legend>
			<p><strong>Trainer : </strong><a href="/schedule/bios#lesley_carhart">Lesley Carhart</a></p>
			<ul>Class Schedule
				<li>TBD</li>
			</ul>
			<p>2013 and 2014 taught us that any organization can be targeted by hackers, 
				regardless of size or function. We all have to plan for security incidents 
				from ransomware to defacement, hacktivism to nation state actors. You’ve set 
				up security devices and built a monitoring program, but you still aren’t certain 
				what to do if a crisis hits. This course will cover the basics of building incident 
				response skills and an incident response program for organizations with 20-20,000 
				employees. Even if you can’t dedicate an employee to incident response, you can 
				still prepare for a security incident.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="smb_security">
			<legend>Small and Medium Business Security: The First Steps</legend>
			<p><strong>Trainer : </strong><a href="/schedule/bios#mark_kikta">Mark Kikta</a></p>
			<ul>Class Schedule
				<li>TBD</li>
			</ul>
			<p>So you know you need security but you can't afford to shell out the money to 
				IBM/HP/$SecurityVendor for the latest and greatest blinky box. Alienvault is a 
				free SIEM/IDS/Netflow solution that can help you increase your security posture 
				without increasing your CAP/OPEX. We will cover scoping, deployment, configuration, 
				analysis, and response using the free version of Alienvault.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="hacking_webapps">
			<legend>Break it before you buy it - Hacking and fixing web applications</legend>
			<p><strong>Trainer ; </strong><a href="/schedule/bios#bill_sempf">Bill Sempf</a></p>
			<ul>Class Schedule
				<li>TBD</li>
			</ul>
			<p>As developers, we focus on the utility and usability of the systems we build, 
				as we should. There is another consideration, though, and that is the criminal 
				element and its access to our systems. The most utile and usable system is 
				dangerous to deploy without appropriate security controls in place. In this 
				four hour bootcamp, you’ll get a look at the security principles that will keep 
				your applications more secure and learn to test for specific vulnerabilities. 
				The session will cover Authentication and Content Management, Injection 
				Vulnerabilities, Cracking and Fixing REST APIs, and Information Disclosure. 
				This is a hands on session, so make sure to download Samurai WTF for excercises.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="lock_pocking_101">
			<legend>Intro to Lock Picking</legend>
			<p><strong>Trainer : </strong><a href="/schedule/bios#irongeek">Adrian Crenshaw</a></p>
			<ul>Class Schedule
				<li>TBD</li>
			</ul>
			<p>This class offers an introduction to lock picking for the penetration tester.  
				Students will learn about the art of locksport and receive plenty of hands on 
				instruction on basic lock picking.  Materials will be provided for use in class.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="threat_intel">
			<legend>Introduction to Threat Intelligence</legend>
			<p><strong>Trainer : </strong><a href="/schedule/bios#edward_mccabe">Edward McCabe</a></p>
			<ul>Class Schedule
				<li>TBD</li>
			</ul>
			<p>“Threat Intelligence” is more than a vendor buzzword. Lists of IP Addresses and 
				Domain Names deemed “bad” are not Threat Intelligence. Threat Intelligence is becoming 
				a serious business need for organizations looking to reduce their risk profile by 
				getting out in front of threats and limit impact. This course is special for CircleCityCon, 
				it is a high-level, introductory overview of what Threat Intelligence Management Programs 
				are and the intent of such programs. We will walk through the Open Source Intelligence 
				ecosystem, Signal Intelligence collection, management and analysis efforts, Threat 
				Intelligence Management, business and technical requirements of Threat Intelligence 
				Programs, supporting business processes, and the operationalization of analysis efforts. 
				This course is aimed at understanding how to leverage information from attacks occurring 
				around the Internet, how those trends can be collected, aggregated, analyzed and more 
				importantly “how to keep yourself from winding up on the Krebs’ list."
			</p>
		</div>
	</div>
	<div class="row">
		<div id="social_engineering">
			<legend>Social Engineering 101</legend>
			<p><strong>Trainer : </strong><a href="/schedule/bios#stephanie_carruthers">Stephanie Carruthers</a></p>
			<ul>Training Schedule
				<li>TBD</li>
			</ul>
			<p>This four hour crash course covers primary elements of Social Engineering.  
				Training will be broken up into the following four categories: information 
				gathering, pretext building, elicitation techniques, and how to read body 
				language.  Multiple interactive assignments will be given throughout the 
				course; this class isn’t for you if you aren’t up for a challenge.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="intro_ctf">
			<legend>Introduction to CTF Challenges</legend>
			<p><strong>Trainer : </strong><a href="/schedule/bios#jayson_brown">Jayson Brown</a></p>
			<ul>Training Schedule
				<li>TBD</li>
			</ul>
			<p>This 8 hour course is for people of all skill levels, with extra emphasis on the 
				basics; great for beginners. Course will cover the basics of computer networks, 
				social engineering, and offensive hacking. Participants will have a chance to test 
				their newly honed skills by attacking a complete virtual business called Corp Co.
			</p>
			<ul><strong>Required Equipment</strong>
				<li>Modern Laptop with virtual compute capabilities (Intel I3/I5/I7 for example)</li>
				<li>WiFi adapter with support for monitor mode and packet injection (Alfa)</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div id="intelligence_analysis">
			<legend>Intelligence Analysis by Design</legend>
			<p><strong>Trainer : </strong><a href="/schedule/bios#steven_fox">Steven Fox</a></p>
			<ul>Training Schedule
				<li>TBD</li>
			</ul>
			<p>Organizations derive value from competitive intelligence that addresses their 
				strategic and tactical goals.  Successful intelligence campaigns combine 
				conventional techniques with design-centered principles to achieve this goal.  
				Workshop attendees will learn how to: 
			</p>
			<ol>
				<li>apply design principles throughout the intelligence lifecycle</li>
				<li>recognize and account for cognitive bias</li>
				<li>derive actionable intelligence consumable by their customers.</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div id="wireshark">
			<legend>Wireshark like a Boss</legend>
			<p><strong>Trainer : </strong><a href="/schedule/bios#sam_wojdziak">Sam Wojdziak</a></p>
			<ul>Training Schedule
				<li>TBD</li>
			</ul>
			<p>Hands on course teaching techniques of traffic analysis with Wireshark, 
				the most-used, open-source network protocol analyzer. During the class 
				students are asked to investigate traffic samples leading to developing 
				skills critical for hunting for malicious activities, researching applications, 
				debugging protocol implementations or troubleshooting anomalies in complex 
				network environments. There will be tons to learn here for beginner AND 
				intermediate users, but even the experts may find some helpful new information 
				to help streamline their investigations.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="infosec_gig">
			<legend>Your Own Worst Enemy: Landing your First InfoSec Gig Despite Yourself</legend>
			<p><strong>Trainer : </strong><a href="/schedule/bios#johnnyxmas">J0hnnyXm4s</a></p>
			<ul>Training Schedule
				<li>TBD</li>
			</ul>
			<p>Following close on the heels of last year's incredibly successful "Attack Paths: 
				How to Get a Job in Infosec" talk, this instructional session discusses the 
				specifics behind building up skills and social inventory necessary to effectively 
				get an entry-level InfoSec role even though you may not have all of the requirements. 
				The seminar will be presented in 3 parts: Building hard skills that are applicable 
				to the Enterprise world to get your foot in the door and land that first interview, 
				building soft social skills to create and fan relationships you can leverage to future 
				benefit, and finally a section on proper resume building geared primarily towards IT & 
				InfoSec. Remember: whether you think you can, or you think you can't, you're right.
			</p>
		</div>
	</div>
	<div class="row">
		<div id="beaglebone">
			<legend>Programming BeagleBone Black</legend>
			<p><strong>Trainer : </strong><a href="/schedule/bios#hodor">Franklin Diaz</a></p>
			<ul>Training Schedule
				<li>TBD</li>
			</ul>
			<p>This is a workshop style class where participants will set up their BeagleBone 
				Black and use Python to control things with it’s various GPIO interfaces.  
			</p>
			<ol>
				<li>Participants need to bring laptops with (almost) any OS.</li>
				<li>Participants need BeagleBone Black and USB cable, one RJ-45 network cable.</li>
				<li>You need an 8GB or 16GB micro SD card ($20 at office max I think) to install 
					a different OS on (probably debian, we can clone a working image beforehand to save time)
					<a href="http://www.armhf.com/boards/beaglebone-black/bbb-sd-install/">SD Install Guide</a></li>
				<li>Optional, you can add a case for BeagleBone Black</li>
			</ol>
			<p>A limited amount of BeagleBone Black will be available for purchase.</p>
		</div>
	</div>
	<div class="row">
		<div id="cft">
			<legend>Call For Training</legend>
			<p>For more information, click <a href="/cft">here</a>.</p>
		</div>
	</div>
</div>
</div>
</div>
{% endblock %}