{% extends "layout.html" %}
{% block inner_content %}
<p>
	CircleCityCon is looking for exciting talks from the security community.   New tools, 0days, security strategies, prepper talks, home brewing, bronie power…  anything discussing community interests is what we want to see.   We are especially interested in giving first timers a platform and seek to showcase a diverse lineup of talks showcasing the returning and the new to CircleCityCon.
</p>
<p>
	CircleCityCon features two talk rooms.  To better showcase diverse ideas and a variety of subjects, we do not theme our talk rooms to any specific topic types.  We offer two types of speaking slots: 25-minute talks and 50-minute talks.  We welcome group and panel submissions, but reserve the right to limit the number of free tickets granted to an accepted talk.
</p>
<p>
	We offer up to three submission rounds for talks.  The number of talks accepted in the previous rounds determines the number of rounds.   If all talks are filled in the first or second round, subsequent rounds will be cancelled.  CircleCityCon believes in feedback and education as part of the CFP process.  With that in mind, we will send out clear acceptance and rejection letters at the end of each round.  Rejection letters will include feedback on improving your presentation.  If your talk is not accepted in the previous round, we encourage you to resubmit in the next round.  Submit early and submit often.
</p>

<ul><strong>Important Dates</strong>
	<li>November 28, 2014 – First Round Opens</li>
	<li>January 18, 2015 – First Round Ends</li>
	<li>February 1, 2015 – First Round Notification Letters Sent</li>
	<li>March 1, 2015 - Second Round Ends</li>
	<li>March 15, 2015 – Second Round Notification Letters Sent</li>
	<li>March 29, 2015 - Final Round Ends</li>
	<li>April 12, 2015 – Final Round Notification Letters Sent</li>
</ul>

<h4>Review Process</h4>
<p>
	The CircleCityCon review process consists of two rounds reviewing the talk submission.  The first round uses the double-blind method of conference reviewing.  Author names are not seen when reviewing talks, and authors will not know the name of the reviewers judging their submission.  Talks are scored on several criteria, with the top and bottom score being thrown out and then the remaining scores are averaged together.
</p>
<p>
	The CircleCityCon talks committee will then review the talks, including reviewer comments and scores, and make the final selections.
</p>


<h4>Submission Guidelines</h4>
<p>
	CircleCityCon uses the double blind process.  PLEASE make sure your abstract and talk outline do not include your name or any identifying information.
</p>
<p>Please visit https://cfp.circlecitycon.com and be prepared to submit the following information.</p>

<ol>
	<li>Submission Title</li>
	<li>Speaker Name(s)</li>
	<li>Speaker Contact Information (this is how we’ll contact you). Reviewers will not see this information.</li>
	<li>Talk Length - 25 or 50 Minutes</li>
	<li>An abstract for your talk (200 words or less)</li>
	<li>Talk keywords</li>
	<li>Speaker biography (150 words total for you or the group)</li>
	<li>Whether or not this talk has been given before at other conferences as well as what conferences it was given at. This will go in the “Optional Comments” field. Reviewers will not see this information.</li>
	<li>Shirt Size</li>
	<li>Equipment Needs (beyond Internet Access and A/V equipment)</li>
</ol>

<ol>In addition, you will need to upload a plain text file (.txt) with the following information:
	<li>Submission Title</li>
	<li>Talk Length - 25 or 50 Minutes</li>
	<li>An abstract for your talk (200 words or less)</li>
	<li>A detailed outline of your talk</li>
</ol>
<p>
If the submission is missing any of the above items, it will not be accepted.  CircleCityCon reserves the right to throw out papers in which the author’s personal information is contained in the abstract or plain text file. 
</p>
<p>
We will do our best to accommodate equipment needs, but Authors are responsible for any equipment beyond the Internet access and A/V equipment provided. 
</p>
<h4>Hints and Tips</h4>
<ul>
	<li><a href="http://www.irongeek.com/i.php?page=videos/derbycon4/t517-cat-herding-in-the-wild-wild-west-what-i-learned-running-a-hackercon-cfp-nathaniel-husted">Watch this talk by our CFP head, DrWhom</a></li>
	<li><a href="https://www.defcon.org/html/links/dc-speakerscorner.html">Check out the excellent advice given by the Defcon Speaker’s Corner… including @Niki7a’s phenomenal guide, “How Do I Make My CFP Stand Out?” a must read for anyone wanting to submit a talk.</a></li>
</ul>
<p><a href="https://cfp.circlecitycon.com/author/submit.php" class="btn">Submit Now!</a></p>
{% endblock %}


