{% extends "layout.html" %}

{% block inner_content %}
<div class="row">
	<div class="span9">
		<p>Have a training class you want to share with the community.  CircleCityCon 
			is looking for trainers to run classes for our event.  We are looking for 
			workshops from 2-4 hours long or ones that can be divided into two 4 hour 
			workshops running over two days.
		</p>

		<p>Attendance is included with the ticket price (plus a $5 reservation charge 
			which is donated to charity).
		</p>

		<p>What type of training are we looking for?  Anything you think the community 
			would enjoy!  Topics from CTF, DFIR and Locksport to Electronic Wearables, 
			3D Printing, Drone Building, and Giving a Talk.   We want some traditional 
			ideas and outside the norm topics.  Last year, we had incredible classes on 
			hacking embedded systems, OSINT, introduction to pentesting and Raspberry 
			Pi.  Our goal is to expand that number significantly and let the community 
			learn from each other.
		</p>

		<ul><strong>Important Dates</strong>
			<li>November 28, 2014 – First Round Opens</li>
			<li>March 1, 2015 - First Round Ends</li>
			<li>March 15, 2015 – Training Notification Letters Sent</li>
		</ul>

		<h4>Submission Guidelines</h4>
		<p>All submissions should be submitted in a word document or text file with the 
			following information:
		</p>

		<ul>
			<li>Submission Title</li>
			<li>Trainer Name(s)</li>
			<li>Trainer Contact Information (this is how we’ll contact you).</li>
			<li>Training Length</li>
			<li>An abstract for your Training (200 words or less)</li>
			<li>A detailed syllabus of the training</li>
			<li>Training keywords</li>
			<li>Trainer(s) biography (150 words total for you or the group)</li>
			<li>Have you taught this class before?  Where and when?</li>
			<li>Shirt Size</li>
		</ul>

		<p>If the submission is missing any of the above items, it will not be accepted. 
			CircleCityCon reserves the right to throw out papers in which the author’s 
			personal information is contained in the abstract or plain text file.
		</p>

		<p>We will do our best to accommodate equipment needs, but Authors are responsible 
			for any equipment beyond the Internet access and A/V equipment provided.
		</p>

		<p>As compensation, you will be given two tickets to CircleCityCon for 2015.  
			If we have the budget, additional perks will be added.
		</p>
	</div>
</div>
{% endblock %}


