{% extends "layout.html" %}
{% block content %}
{{ super() }}
<div class="container">
	<div class="well">
		<form method="POST" class="form-horizontal">
			{{ form.hidden_tag() }}
			{{ utils.render_field(form.email, errors=form.errors) }}
			{{ utils.render_field(form.password, errors=form.errors) }}
			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<input class="btn btn-primary" type="submit" value="Login" />
					<a class="btn btn-warning" href="{{ url_for('.register') }}">New User/Forgot Password</a>
				</div>
			</div>
		</form>
	</div>
</div>
{% endblock %}