{% extends "layout.html" %}
{% block inner_content %}
<h4>Villages</h4>
<p><strong>Lockpick Village</strong> - Information on the 2015 Lockpick Village will be announced soon.  Please check back for details.</p>
<p><strong>Hardware Village</strong> - Information on the 2015 Hardware Village will be announced soon.  Please check back for details.</p>
<p><strong>Ham Radio Exams</strong> - New this year to CircleCityCon, we are planning on conducting Ham radio licensing exams.  More info to come, please check back for details.</p>

<h4>Hak4Kidz</h4>
<p>Information on Hak4Kids will be announced soon.  Please check back for details.</p>
{% endblock %}