{% extends "layout.html" %}

{% block inner_content %}
<p>We will be announcing the location of CircleCityCon 2015 very soon.  Please check back for details.</p>
{#
<div class="row">
	<div class="span7">
		<div class="page-header" style="margin-top: 4px;">
			<h1>Hotel Information</h1>
		</div>
		<p>The conference will be held at the beautiful Hyatt Regency, 
			located in downtown Indianapolis. This hotel is well within 
			 distance of numerous restaurants and bars. Inside the hotel 
			 there are also a few restaurants, a bar, Starbucks, and a 
			 couple of fast food places. Additionally, the hotel is 
			 connected via a covered walkway to the Circle Center Mall
		</p>

		<h3>Reservation Information</h3>
		<p>We are currently waiting on the hotel to provide us with the 
			group rate for Thursday-Saturday night. If this block becomes 
			sold out, we will have some other options available to use 
			that we will explore.
		</p>

		<h3>Hotel Address</h3>
		<address>
			<strong>hyatt regency indianapolis</strong><br />
			1 S Capitol Ave<br />
			Indianapolis, IN 46204
		</address>

	</div>
	<div class="span5">
		<div class="thumbnail" style="height: 300px;">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3066.81205530981!2d-86.161082!3d39.76632800000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886b50bbba57ddad%3A0xb65b1bb198f721c!2sHyatt+Regency+Indianapolis!5e0!3m2!1sen!2sus!4v1408631074662" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
		</div>
	</div>
</div>
<div class="row">
	<div class="span9">
		<h3>Conference Floorplan</h3>
		<h4>TBA</h4>
		<p></p>

		<h3>Parking Information</h3>
		<p></p>
		<p><strong>Valet Parking – </strong>
			the hotel has valet available for those who want it.
		</p>
		<p><strong>Self-Parking – </strong>
			there is self-parking at the hotel, and also around 
			at parking garages close to the city. we can provide 
			more information about this down the road.
		</p>

		<h3>Travel Information</h3>
		<dl class="dl-horizontal">
			<dt><strong>Airport</strong></dt>
			<dd><a href="http://www.indianapolisairport.com/">IND Airport</a></dd>
			<dt><strong>Bus</strong></dt>
			<dd>
				<strong><a href="http://www.megabus.com">Megabus</a> - </strong>Drops off a few short blocks from the hotel.<br />
				<strong><a href="http://www.greyhound.com/">Greyhound</a> - </strong>rops off a few short blocks from the hotel.
			</dd>
			<dt><strong>Train</strong></dt>
			<dd><strong><a href="http://www.amtrak.com/">Amtrak</a> - </strong>Drops off a few short blocks from the hotel.</dd>
		</dl>
		<p></p>

		<h3>Getting Around Indy</h3>
		<p></p>
		<p><strong>From the Airport – </strong>
			There are taxi services waiting once you walk out of 
			the return baggage doors. The estimated taxi cost is 
			$30-40 per trip. GoExpress Shuttle can run you approximately 
			$10, but <a href="http://goexpresstravel.com/indy_express">
			early reservations can be made here</a>. Finally, you could 
			also preschedule pick up with Carey Limousine Service which 
			will cost ~$16.00 per trip plus gratuity, make that 
			reservation at (317) 241-7100.
		</p>
		<p><strong>Taxi – </strong>All cabs are required to have credit 
			card machines available, they might prefer cash, but they 
			can take credit. There is a customer bill of rights located 
			on each cab window.
		</p>
		<p><strong>Bus System – </strong><a href="http://www.indygo.net/">
			It’s available</a>, but you’ll have to do some leg work on this.
		</p>
	</div>
</div>
#}
{% endblock %}